/**
 *
 * -----------------------------------------------------------
 *
 * Codestar Framework
 * A Lightweight and easy-to-use WordPress Options Framework
 *
 * Copyright 2015 Codestar <info@codestarlive.com>
 *
 * -----------------------------------------------------------
 *
 */
/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.chosen-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  border: 1px solid #aaa;
  border-top: 0;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}

.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}

.chosen-container a {
  cursor: pointer;
}

.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #999999;
}

.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 25px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
  background: -webkit-linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: -moz-linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: -o-linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-clip: padding-box;
  box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
}

.chosen-container-single .chosen-default {
  color: #999;
}

.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}

.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("../images/chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px;
}

.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}

.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}

.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}

.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/chosen-sprite.png") no-repeat 0px 2px;
}

.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}

.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: white url("../images/chosen-sprite.png") no-repeat 100% -20px;
  background: url("../images/chosen-sprite.png") no-repeat 100% -20px;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}

.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}

.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}

.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}

.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  color: #fff;
}

.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4;
}

.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}

.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}

.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  cursor: text;
}

.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}

.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0;
  height: 25px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}

.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  max-width: 100%;
  border-radius: 3px;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-size: 100% 19px;
  background-repeat: repeat-x;
  background-clip: padding-box;
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
}

.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("../images/chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}

.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666;
}

.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}

.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}

.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}

.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
  box-shadow: 0 1px 0 #fff inset;
}

.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}

.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #222 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}

.chosen-disabled .chosen-single {
  cursor: default;
}

.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right;
}

.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}

.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}

.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}

.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}

.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}

.chosen-rtl .chosen-choices li {
  float: right;
}

.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}

.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}

.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}

.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}

.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}

.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}

.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}

.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: white url("../images/chosen-sprite.png") no-repeat -30px -20px;
  background: url("../images/chosen-sprite.png") no-repeat -30px -20px;
  direction: rtl;
}

.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}

.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url("../images/chosen-sprite@2x.png") !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}
/* @end */
.csf-field-text input {
  width: 340px;
  max-width: 100%;
}

.csf-field-textarea textarea {
  width: 100%;
  max-width: 100%;
  min-height: 125px;
}
.csf-field-textarea .csf-shortcode-button {
  margin-bottom: 10px;
}

.csf-field-wysiwyg textarea {
  width: 100%;
  max-width: 100%;
  min-height: 125px;
}
.csf-field-wysiwyg .wp-editor-container {
  clear: none;
}

.csf-field-number input {
  width: 70px;
}
.csf-field-number em {
  margin-left: 5px;
  color: #bbb;
}

.csf-field-select select {
  max-width: 100%;
}

.csf-field-typography select,
.csf-field-typography .chosen-container {
  margin-right: 5px;
}
.csf-field-typography .csf-typo-weight {
  min-width: 90px;
}

.csf-field-checkbox ul,
.csf-field-radio ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: auto;
  max-height: 305px;
}
.csf-field-checkbox .horizontal li,
.csf-field-radio .horizontal li {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
}
.csf-field-checkbox input[type="radio"]:checked:before,
.csf-field-radio input[type="radio"]:checked:before {
  line-height: 10px;
}

.csf-field-switcher label {
  display: block;
  float: left;
  cursor: pointer;
  position: relative;
  width: 62px;
  height: 26px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.csf-field-switcher label span {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 18px;
  height: 18px;
  background-color: #fff;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  -webkit-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.csf-field-switcher label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.csf-field-switcher label input:checked ~ em {
  background: #4fb845;
}
.csf-field-switcher label input:checked ~ em:before {
  opacity: 0;
}
.csf-field-switcher label input:checked ~ em:after {
  opacity: 1;
}
.csf-field-switcher label input:checked ~ span {
  left: 40px;
}
.csf-field-switcher label em {
  position: relative;
  display: block;
  height: inherit;
  font-size: 11px;
  line-height: 26px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
  background-color: #ed6f6f;
  -moz-transition: background 0.15s ease-out;
  -o-transition: background 0.15s ease-out;
  -webkit-transition: background 0.15s ease-out;
  transition: background 0.15s ease-out;
}
.csf-field-switcher label em:before, .csf-field-switcher label em:after {
  position: absolute;
  -moz-transition: opacity 0.15s ease-out;
  -o-transition: opacity 0.15s ease-out;
  -webkit-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
}
.csf-field-switcher label em:before {
  content: attr(data-off);
  right: 14px;
}
.csf-field-switcher label em:after {
  content: attr(data-on);
  left: 14px;
  opacity: 0;
}
.csf-field-switcher .csf-text-desc {
  float: left;
  margin-left: 5px;
  margin-top: 0;
  padding-top: 4px;
}

.csf-field-image_select label {
  display: inline-block;
  margin: 5px;
}
.csf-field-image_select label img {
  max-width: 100%;
  vertical-align: bottom;
  background-color: #fff;
  border: 2px solid #eee;
  opacity: 0.75;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.csf-field-image_select input {
  display: none;
}
.csf-field-image_select input:checked ~ img {
  border-color: #333;
  opacity: 1;
}

.csf-field-upload input {
  width: 100%;
}
.csf-field-upload .csf-button {
  margin-left: 10px;
}

.csf-field-background .csf-field-color_picker {
  position: relative;
  top: 10px;
}
.csf-field-background .csf-pseudo-field {
  border: 0 !important;
}
.csf-field-background .csf-button {
  margin-left: 10px;
}

.csf-field-color_picker .csf-alpha-wrap {
  display: none;
  position: relative;
  top: -1px;
  width: 235px;
  padding: 9px 10px;
  border: 1px solid #dfdfdf;
  border-top: none;
  background-color: #fff;
}
.csf-field-color_picker .csf-alpha-slider {
  position: absolute;
  width: 190px;
  margin-left: 2px;
  height: 18px;
}
.csf-field-color_picker .csf-alpha-slider .ui-slider-handle {
  position: absolute;
  top: -3px;
  bottom: -3px;
  z-index: 5;
  border-color: #aaa;
  border-style: solid;
  border-width: 4px 3px;
  width: 10px;
  height: 16px;
  margin: 0 -5px;
  background: none;
  cursor: ew-resize;
  opacity: 0.9;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.csf-field-color_picker .csf-alpha-slider .ui-slider-handle:before {
  content: " ";
  position: absolute;
  left: -2px;
  right: -2px;
  top: -3px;
  bottom: -3px;
  border: 2px solid #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.csf-field-color_picker .csf-alpha-slider-offset {
  height: 18px;
  width: 200px;
  background: url(../images/checkerboard.png) repeat-y center left scroll #fff;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.csf-field-color_picker .csf-alpha-text {
  position: absolute;
  top: 12px;
  right: 10px;
  width: 30px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #999;
}

.csf-field-backup textarea {
  width: 100%;
  min-height: 200px;
  margin-bottom: 5px;
}
.csf-field-backup small {
  display: inline-block;
  margin: 5px;
}
.csf-field-backup hr {
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.csf-field-fieldset .csf-inner {
  border: 1px solid #eee;
  background-color: #fff;
}
.csf-field-fieldset .csf-field {
  padding: 20px;
}

.csf-field-group .csf-field {
  padding: 20px;
}
.csf-field-group .csf-cloneable-wrapper {
  position: relative;
}
.csf-field-group .csf-cloneable-item {
  display: none;
  position: relative;
  margin-bottom: 5px;
}
.csf-field-group .csf-cloneable-item h4 {
  font-size: 1em;
}
.csf-field-group .ui-accordion .csf-cloneable-item {
  display: block;
}
.csf-field-group .csf-cloneable-content {
  border: 1px solid #e5e5e5;
  background: #fff;
}
.csf-field-group .csf-cloneable-title {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 15px 65px 15px 10px;
  min-height: 0;
  font-size: 100%;
  border: 1px solid #e5e5e5;
  background: #fafafa;
  -moz-transition: border-color 0.15s;
  -o-transition: border-color 0.15s;
  -webkit-transition: border-color 0.15s;
  transition: border-color 0.15s;
}
.csf-field-group .csf-cloneable-title:active, .csf-field-group .csf-cloneable-title:hover, .csf-field-group .csf-cloneable-title:focus {
  border: 1px solid #bbb;
  background: #fafafa;
  outline: none;
}
.csf-field-group .csf-cloneable-helper {
  position: absolute;
  top: 12px;
  right: 10px;
  z-index: 1;
  font-size: 14px;
  line-height: 1em;
}
.csf-field-group .csf-cloneable-helper .csf-cloneable-clone,
.csf-field-group .csf-cloneable-helper .csf-cloneable-remove {
  display: inline-block;
  cursor: pointer;
  color: #555;
  padding: 5px;
}
.csf-field-group .csf-cloneable-helper .csf-cloneable-clone:hover,
.csf-field-group .csf-cloneable-helper .csf-cloneable-remove:hover {
  opacity: 0.5;
}
.csf-field-group .csf-cloneable-helper .csf-cloneable-pending {
  color: #fcb000;
  padding: 5px;
  display: none;
}
.csf-field-group .csf-cloned .csf-cloneable-pending {
  display: inline-block;
}
.csf-field-group .csf-cloneable-content {
  padding: 0;
  border-top: 0;
}
.csf-field-group .csf-cloneable-data {
  display: none;
  margin-bottom: 5px;
  padding: 10px 20px;
  color: #a94442;
  border: 1px solid #ebccd1;
  background-color: #f2dede;
}
.csf-field-group .widget-placeholder {
  margin-bottom: 10px;
  border: 1px dashed #f1c40f;
  background-color: #fffae4;
}
.csf-field-group .csf-cloneable-header-icon {
  font-size: 14px;
  width: 17px;
  text-align: center;
  color: #aaa;
}

.csf-field-repeater .csf-field {
  padding: 10px;
}
.csf-field-repeater .csf-cloneable-hidden {
  display: none;
}
.csf-field-repeater .csf-cloneable-wrapper .csf-cloneable-item {
  display: table;
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid #eee;
}
.csf-field-repeater .csf-cloneable-wrapper .csf-cloneable-item h4 {
  font-size: 1em;
}
.csf-field-repeater .csf-cloneable-content {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  background-color: #fff;
}
.csf-field-repeater .csf-cloneable-helper {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  line-height: 1em;
  border-left: 1px solid #eee;
  background-color: #f7f7f7;
}
.csf-field-repeater .csf-cloneable-helper i {
  display: inline-block;
  cursor: pointer;
  color: #555;
  padding: 5px;
}
.csf-field-repeater .csf-cloneable-helper i:hover {
  opacity: 0.5;
}
.csf-field-repeater .csf-cloneable-helper-inner {
  width: 75px;
}
.csf-field-repeater .csf-cloneable-data {
  display: none;
  margin-bottom: 5px;
  padding: 10px 20px;
  color: #a94442;
  border: 1px solid #ebccd1;
  background-color: #f2dede;
}
.csf-field-repeater .widget-placeholder {
  height: 50px;
  margin-bottom: 3px;
  border: 1px dashed #f1c40f;
  background-color: #fffae4;
}
.csf-field-repeater .ui-sortable-helper {
  height: 50px !important;
  overflow: hidden !important;
  border-color: #ccc !important;
  background-color: #eee !important;
  opacity: 0.5;
}
.csf-field-repeater .ui-sortable-helper .csf-cloneable-helper,
.csf-field-repeater .ui-sortable-helper .csf-cloneable-content {
  display: none;
}

.csf-help {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 14px;
  color: #aaa;
}

.csf-field-heading {
  font-size: 1.5em;
  font-weight: bold;
  color: #23282d;
  background-color: #f5f5f5 !important;
}

.csf-field-subheading {
  font-size: 14px;
  font-weight: bold;
  padding-top: 17px;
  padding-bottom: 17px;
  color: #23282d;
  background-color: #f7f7f7 !important;
}

.csf-field-notice {
  padding: 0 !important;
  border: 0 !important;
}
.csf-field-notice + .csf-field {
  border-top: 0;
}
.csf-field-notice .csf-notice {
  font-size: 12px;
  padding: 17px 30px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.csf-field-notice .csf-success {
  color: #3c763d;
  border-color: #d6e9c6;
  background-color: #dff0d8;
}
.csf-field-notice .csf-info {
  color: #31708f;
  border-color: #bce8f1;
  background-color: #d9edf7;
}
.csf-field-notice .csf-warning {
  color: #8a6d3b;
  border-color: #faebcc;
  background-color: #fcf8e3;
}
.csf-field-notice .csf-danger {
  color: #a94442;
  border-color: #ebccd1;
  background-color: #f2dede;
}

.csf-field-icon input {
  display: none;
}
.csf-field-icon .button {
  margin-right: 5px;
}
.csf-field-icon .csf-icon-preview i {
  display: inline-block;
  font-size: 14px;
  width: 30px;
  height: 26px;
  line-height: 26px;
  margin-right: 5px;
  text-align: center;
  vertical-align: top;
  color: #555;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
}

.csf-field-gallery input {
  display: none;
}
.csf-field-gallery ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.csf-field-gallery ul li {
  display: inline-block;
  position: relative;
  padding: 4px;
  margin: 0 5px 10px 0;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
}
.csf-field-gallery ul li img {
  max-height: 60px;
  display: inline-block;
  vertical-align: middle;
}
.csf-field-gallery .button {
  margin-right: 5px;
  margin-bottom: 5px;
}

.csf-field-sorter .ui-sortable-placeholder {
  height: 20px;
  border: 1px dashed #f1c40f;
  background-color: #fffae4;
}
.csf-field-sorter .csf-modules {
  float: left;
  width: 50%;
}
.csf-field-sorter .csf-disabled {
  margin-left: 15px;
}
.csf-field-sorter .csf-disabled,
.csf-field-sorter .csf-enabled {
  padding: 5px 15px;
  border: 1px dashed #ddd;
  background-color: #fff;
}
.csf-field-sorter .csf-disabled li {
  -moz-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
  opacity: 0.5;
}
.csf-field-sorter .csf-disabled .ui-sortable-helper {
  opacity: 1;
}
.csf-field-sorter .csf-sorter-title {
  display: block;
  font-weight: 600;
  font-size: 13px;
  margin: 0 0 10px 0;
  text-align: center;
}
.csf-field-sorter ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-height: 62px;
}
.csf-field-sorter ul li {
  margin: 10px 0;
  padding: 10px 15px;
  cursor: move;
  font-weight: bold;
  text-align: center;
  border: 1px solid #e5e5e5;
  background-color: #fafafa;
  -moz-transition: border-color 0.15s;
  -o-transition: border-color 0.15s;
  -webkit-transition: border-color 0.15s;
  transition: border-color 0.15s;
}
.csf-field-sorter ul li:hover {
  border-color: #bbb;
}

.csf-field-ace_editor .csf-ace-editor-wrapper {
  border: 1px solid #eee;
  background-color: #eee;
}
.csf-field-ace_editor .csf-ace-editor {
  width: 100%;
  height: 400px;
  font-size: 13px;
}

.csf-datepicker-wrapper * {
  float: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  border: none;
  background: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: none;
  -webkit-border-radius: none;
  border-radius: none;
}
.csf-datepicker-wrapper .ui-datepicker {
  margin-top: 5px;
  width: auto;
  background-color: #fff;
  z-index: 9999999 !important;
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}
.csf-datepicker-wrapper .ui-widget-header,
.csf-datepicker-wrapper .ui-datepicker-header {
  color: #fff;
  background: #00a0d2;
}
.csf-datepicker-wrapper .ui-datepicker-header .ui-state-hover {
  cursor: pointer;
}
.csf-datepicker-wrapper .ui-datepicker-title {
  font-size: 14px;
  line-height: 40px;
  text-align: center;
}
.csf-datepicker-wrapper .ui-datepicker-prev,
.csf-datepicker-wrapper .ui-datepicker-next {
  position: static;
  top: auto;
  left: auto;
  right: auto;
  font-family: "FontAwesome";
  font-size: 12px;
  text-align: center;
  width: 41px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.csf-datepicker-wrapper .ui-datepicker-next span,
.csf-datepicker-wrapper .ui-datepicker-prev span {
  display: none;
}
.csf-datepicker-wrapper .ui-datepicker-prev {
  float: left;
}
.csf-datepicker-wrapper .ui-datepicker-next {
  float: right;
}
.csf-datepicker-wrapper .ui-datepicker-prev:before {
  content: '\f053';
}
.csf-datepicker-wrapper .ui-datepicker-next:before {
  content: '\f054';
}
.csf-datepicker-wrapper .ui-datepicker-prev-hover,
.csf-datepicker-wrapper .ui-datepicker-next-hover {
  opacity: 0.75;
}
.csf-datepicker-wrapper tbody .ui-datepicker-week-col {
  background-color: #f7f7f7;
}
.csf-datepicker-wrapper .ui-datepicker-buttonpane {
  padding: 10px;
  text-align: center;
  background-color: #f7f7f7;
}
.csf-datepicker-wrapper .ui-datepicker-buttonpane button {
  cursor: pointer;
  margin: 0 5px;
  padding: 7px 14px;
  border: 1px solid #eee;
  background-color: #fff;
}
.csf-datepicker-wrapper select {
  margin: 0 4px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.csf-datepicker-wrapper select option {
  color: #555;
}
.csf-datepicker-wrapper table {
  font-size: 13px;
  border-collapse: collapse;
  width: 100%;
}
.csf-datepicker-wrapper thead {
  color: #fff;
  background: #32373c;
}
.csf-datepicker-wrapper th {
  text-align: center;
  padding: 7px;
  border: 1px solid #444;
}
.csf-datepicker-wrapper td {
  text-align: center;
  border: 1px solid #f4f4f4;
}
.csf-datepicker-wrapper td.ui-datepicker-other-month {
  border: transparent;
}
.csf-datepicker-wrapper td .ui-state-default {
  color: #555;
  width: auto;
  display: block;
  padding: 6px 12px;
}
.csf-datepicker-wrapper td .ui-state-active,
.csf-datepicker-wrapper td .ui-state-hover {
  color: #fff;
  background-color: #0073aa;
}
.csf-datepicker-wrapper td.ui-state-disabled .ui-state-default {
  opacity: 0.5;
}

.csf-field-tabbed .csf-tabbed-section {
  border: 1px solid #eee;
  background: #fff;
}
.csf-field-tabbed .csf-tabbed-nav .fa {
  padding-right: 5px;
}
.csf-field-tabbed .csf-tabbed-nav a {
  display: inline-block;
  padding: 12px 15px;
  margin-top: 1px;
  margin-right: 5px;
  margin-bottom: -1px;
  position: relative;
  text-decoration: none;
  color: #444;
  background-color: #f3f3f3;
  border: 1px solid #eee;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.csf-field-tabbed .csf-tabbed-nav a:hover {
  background-color: #f9f9f9;
}
.csf-field-tabbed .csf-tabbed-nav a.csf-tabbed-active {
  background-color: #fff;
  border-bottom-color: #fff;
}
.csf-field-tabbed .csf-tabbed-nav a:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.csf-image-inner {
  display: inline-block;
  position: relative;
  padding: 4px;
  min-width: 44px;
  min-height: 22px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
}
.csf-image-inner img {
  max-height: 90px;
  display: inline-block;
  vertical-align: middle;
}

.csf-image-remove {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 22px;
  height: 22px;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #e14d43;
  opacity: 0.8;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.csf-image-remove:hover {
  opacity: 1;
}

.csf {
  position: relative;
  margin-top: 20px;
  margin-right: 20px;
}
.csf label {
  padding: 0;
  margin: 0;
  display: inline-block;
}

div.csf-settings-error {
  margin: 0 0 15px 0;
}

.csf-header {
  position: relative;
}

.csf-header-inner {
  background-color: #050505;
  padding: 25px;
}
.csf-header-inner h1 {
  color: #fff;
  float: left;
  font-size: 1.5em;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}
.csf-header-inner h1 small {
  font-size: 11px;
  color: #555;
  font-weight: 500;
}

.csf-sticky .csf-header-inner {
  position: fixed;
  z-index: 20;
  top: 32px;
  -moz-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
}

.csf-buttons {
  float: right;
}
.csf-buttons .button {
  margin: 0 2px;
  line-height: 26px;
}

.csf-header-left {
  float: left;
}

.csf-header-right {
  float: right;
}

.csf-nav {
  display: block;
  position: relative;
  z-index: 10;
  float: left;
  width: 225px;
}
.csf-nav ul {
  clear: left;
  margin: 0;
  list-style-type: none;
}
.csf-nav ul li {
  margin-bottom: 0;
}
.csf-nav ul li + li a {
  border-top: 1px solid #2f2f2f;
}
.csf-nav ul li a {
  font-size: 13px;
  position: relative;
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #999;
  background-color: #222;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.csf-nav ul li a:hover {
  color: #fff;
}
.csf-nav ul li a:focus {
  outline: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.csf-nav ul li .csf-section-active {
  color: #fff;
  background-color: #111;
}
.csf-nav ul li .csf-section-active:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 50%;
  height: 0;
  width: 0;
  pointer-events: none;
  border: solid transparent;
  border-right-color: #fff;
  border-width: 4px;
  margin-top: -4px;
}
.csf-nav ul li .csf-arrow:after {
  content: "\f054";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 9px;
  line-height: 1;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -4px;
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
.csf-nav ul li.csf-tab-active .csf-arrow:after {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.csf-nav ul li.csf-tab-active ul {
  display: block;
}
.csf-nav ul ul {
  display: none;
  position: relative;
  border-bottom: 1px solid #2f2f2f;
  position: relative;
}
.csf-nav ul ul li a {
  font-size: 12px;
  padding: 13px 15px 13px 25px;
  background-color: #191919;
}
.csf-nav ul ul li .csf-section-active {
  background-color: #101010;
}
.csf-nav ul ul li:last-child a {
  border-bottom: 0;
}
.csf-nav ul ul:before {
  content: '';
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 1;
  width: 1px;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.75);
}
.csf-nav .fa {
  width: 20px;
  margin-right: 5px;
  font-size: 14px;
  text-align: center;
}

.csf-nav-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9;
  width: 225px;
  background-color: #222;
}

.csf-wrapper {
  position: relative;
  background-color: #fff;
}

.csf-content {
  position: relative;
  margin-left: 225px;
}

.csf-sections {
  float: left;
  width: 100%;
}

.csf-section-title {
  display: none;
  padding: 20px 30px;
  background-color: #5bc0de;
}
.csf-section-title h3 {
  color: #fff;
  margin: 0;
  padding: 0 !important;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(68, 167, 197, 0.5);
}

.csf-footer {
  padding: 20px;
  color: #555;
  font-size: 11px;
  background-color: #050505;
}

.csf-copyright {
  float: left;
  margin-top: 5px;
}

.csf-search-all .csf-nav-background,
.csf-search-all .csf-nav,
.csf-show-all .csf-nav-background,
.csf-show-all .csf-nav {
  display: none;
}
.csf-search-all .csf-content,
.csf-show-all .csf-content {
  margin-left: 0;
}
.csf-search-all .csf-section-title,
.csf-search-all .csf-section,
.csf-show-all .csf-section-title,
.csf-show-all .csf-section {
  display: block !important;
}

.csf-search-all .csf-section-title {
  display: none !important;
}

.csf-expand-all {
  position: absolute;
  right: 40px;
  bottom: 5px;
  z-index: 1;
  color: #555;
  font-size: 11px;
  font-weight: 500;
  text-decoration: none;
}
.csf-expand-all:hover {
  color: #fff;
}
.csf-expand-all:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.csf-search {
  float: left;
}
.csf-search input {
  margin: 0 0 0 10px;
  border: none;
  font-size: 12px;
  line-height: 12px;
  text-align: inherit;
  padding: 7px 10px;
  color: #fff;
  background-color: #333;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.csf-search input:focus {
  background-color: #444;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.csf-search input::-webkit-input-placeholder {
  color: #666;
}

.csf-saving {
  cursor: default;
  pointer-events: none;
  opacity: 0.5;
}

.csf-seperator {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 30px 15px 15px 15px;
}

.csf-field {
  position: relative;
  padding: 30px;
}
.csf-field + .csf-field:not(.hidden) {
  border-top: 1px solid #eee;
}
.csf-field p:last-child {
  margin-bottom: 0 !important;
}
.csf-field:after, .csf-field:before {
  content: " ";
  display: table;
}
.csf-field:after {
  clear: both;
}
.csf-field h4 {
  margin-top: 0;
}
.csf-field .csf-title {
  position: relative;
  width: 25%;
  float: left;
}
.csf-field .csf-title h4 {
  margin: 0;
  color: #23282d;
}
.csf-field .csf-fieldset {
  margin-left: 30%;
}
.csf-field pre {
  clear: both;
  color: #ccc;
  background-color: #222;
  padding: 15px;
  overflow: auto;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.csf-field pre strong {
  color: #ffbc00;
}

.csf-pseudo-field {
  padding: 0 5px 0 0 !important;
  display: inline-block;
}
.csf-pseudo-field + .csf-pseudo-field {
  border: 0;
}
.csf-pseudo-field pre {
  display: none;
}

.csf-metabox {
  margin: -6px -12px -12px -12px;
}
.csf-metabox .csf-section-title {
  padding: 20px;
}

.csf-metabox-restore {
  text-align: right;
  padding: 10px;
  border-top: 1px solid #eee;
}
.csf-metabox-restore .csf-button-cancel,
.csf-metabox-restore input {
  display: none;
}
.csf-metabox-restore span {
  -webkit-user-select: none;
  user-select: none;
}
.csf-metabox-restore input:checked ~ .csf-button-restore {
  display: none;
}
.csf-metabox-restore input:checked ~ .csf-button-cancel {
  display: inline-block;
}

#side-sortables .csf-section-title {
  padding: 12px;
}
#side-sortables .csf-field {
  padding: 12px;
}
#side-sortables .csf-field .csf-title {
  float: none;
  width: 100%;
  margin-bottom: 10px;
}
#side-sortables .csf-field .csf-fieldset {
  margin-left: 0;
}
#side-sortables .csf-notice {
  padding: 12px;
}

.csf-tooltip {
  position: absolute;
  z-index: 5000001;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  text-decoration: none;
  padding: 6px 12px;
  max-width: 200px;
  color: #fff;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.85);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.widget-content .csf-field {
  position: relative;
  top: -1px;
  margin-right: -15px;
  margin-left: -15px;
  padding: 12px 15px;
}
.widget-content .csf-field .csf-field {
  margin-left: 0;
  margin-right: 0;
}
.widget-content .csf-field .csf-title {
  float: none;
  width: 100%;
  margin-bottom: 5px;
}
.widget-content .csf-field .csf-fieldset {
  margin-left: 0;
}
.widget-content .csf-field-text input {
  width: 100%;
}
.widget-content .csf-field-notice .csf-notice {
  padding: 15px;
}

.control-section .csf-field {
  padding: 0;
}
.control-section .csf-field .csf-title {
  float: none;
  width: 100%;
  margin-bottom: 10px;
}
.control-section .csf-field .csf-title h4 {
  font-size: 14px;
  font-weight: 600;
  color: inherit;
}
.control-section .csf-field .csf-fieldset {
  margin-left: 0;
}
.control-section .widget-content .csf-field {
  margin-right: -10px;
  margin-left: -10px;
  padding: 10px 12px;
}
.control-section .csf-field-select select {
  width: 100%;
}
.control-section .csf-field-heading {
  color: inherit;
  font-size: 14px;
  line-height: 1em;
  margin-right: -15px;
  margin-left: -15px;
  padding: 15px;
}
.control-section .csf-field-subheading {
  color: inherit;
  font-size: 11px;
  margin-right: -15px;
  margin-left: -15px;
  padding: 10px 15px;
}
.control-section .csf-text-desc {
  margin-top: 4px;
  font-size: 12px;
}
.control-section .csf-field-content,
.control-section .csf-field-notice .csf-notice {
  margin-right: -15px;
  margin-left: -15px;
  padding: 15px;
}
.control-section .csf-fieldset .csf-field-notice .csf-notice,
.control-section .csf-fieldset .csf-field-heading,
.control-section .csf-fieldset .csf-field-subheading {
  margin-left: 0;
  margin-right: 0;
}
.control-section .csf-field-sorter ul li {
  padding: 5px;
}
.control-section .csf-field-sorter .csf-modules {
  float: none;
  width: 100%;
}
.control-section .csf-field-sorter .csf-disabled {
  margin-left: 0;
  margin-top: 15px;
}
.control-section .csf-field-background .csf-field-upload {
  width: 100%;
}
.control-section .csf-field-background .csf-field-upload input {
  width: 100%;
  margin: 0;
}
.control-section .csf-field-background .csf-field-upload a {
  width: 100%;
  text-align: center;
  margin: 5px 1px;
}
.control-section .csf-field-background .csf-pseudo-field {
  width: 100%;
  padding: 0 0 5px 0 !important;
}
.control-section .csf-field-background .csf-field-color_picker {
  top: 0;
}
.control-section .csf-field-typography select,
.control-section .csf-field-typography .chosen-container {
  width: 100% !important;
  margin: 0 0 5px 0;
}
.control-section .csf-field-fieldset .csf-inner {
  border-color: #e5e5e5;
}
.control-section .csf-field-fieldset .csf-field {
  padding: 10px;
}
.control-section .csf-field-fieldset .csf-field .csf-title {
  margin-bottom: 5px;
}
.control-section .csf-field-fieldset .csf-field h4 {
  font-size: 12px;
}
.control-section .csf-field-group .csf-field,
.control-section .csf-field-tabbed .csf-field,
.control-section .csf-field-repeater .csf-field {
  padding: 5px;
}
.control-section .csf-field-group .csf-field .csf-title,
.control-section .csf-field-tabbed .csf-field .csf-title,
.control-section .csf-field-repeater .csf-field .csf-title {
  margin-bottom: 5px;
}
.control-section .csf-field-group .csf-field h4,
.control-section .csf-field-tabbed .csf-field h4,
.control-section .csf-field-repeater .csf-field h4 {
  font-size: 12px;
}

.csf-taxonomy {
  margin: 0;
}
.csf-taxonomy > .csf-field {
  border-top: 0;
}
.csf-taxonomy > .csf-field-heading {
  font-size: 1.1em;
  padding: 20px !important;
  border: 1px solid #ddd;
}
.csf-taxonomy > .csf-field-subheading {
  font-size: 12px;
  padding: 15px !important;
  border: 1px solid #ddd;
}
.csf-taxonomy > .csf-field-notice .csf-notice {
  padding: 15px;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
}

.csf-taxonomy-add-fields > .csf-field {
  padding: 8px 0;
}
.csf-taxonomy-add-fields > .csf-field > .csf-title {
  float: none;
  width: 100%;
  padding: 2px 2px 4px 0;
}
.csf-taxonomy-add-fields > .csf-field > .csf-title h4 {
  font-size: 12px;
  font-weight: normal;
}
.csf-taxonomy-add-fields > .csf-field > .csf-fieldset {
  margin-left: 0;
}
.csf-taxonomy-add-fields > .csf-field > .csf-fieldset > .csf-help {
  right: -5px;
}
.csf-taxonomy-add-fields + p.submit {
  margin-top: 0;
}

.csf-taxonomy-edit-fields > .csf-field {
  padding: 20px 0;
}
.csf-taxonomy-edit-fields > .csf-field > .csf-title {
  width: 225px;
}
.csf-taxonomy-edit-fields > .csf-field > .csf-title h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  display: inline-block;
  vertical-align: middle;
}
.csf-taxonomy-edit-fields > .csf-field > .csf-fieldset {
  margin-left: 225px;
}
.csf-taxonomy-edit-fields > .csf-field > .csf-fieldset > .csf-help {
  top: -5px;
  right: -5px;
}
.csf-taxonomy-edit-fields > .csf-field-notice {
  margin: 20px 0;
}
.csf-taxonomy-edit-fields > .csf-field-subheading,
.csf-taxonomy-edit-fields > .csf-field-heading {
  margin: 20px 0;
  border: 1px solid #ddd;
}

.csf-modal {
  display: none;
  position: fixed;
  z-index: 100101;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.csf-modal-icon {
  z-index: 100102;
}

.csf-modal-table {
  display: table;
  width: 100%;
  height: 100%;
}

.csf-modal-table-cell {
  display: table-cell;
  vertical-align: middle;
  margin: 100px 0;
}

.csf-modal-inner {
  position: relative;
  z-index: 10;
  width: 783px;
  height: 750px;
  margin: 0 auto;
  background-color: #fff;
}

.csf-modal-content {
  overflow: hidden;
  overflow-y: auto;
  height: 592px;
}
.csf-modal-content .csf-field {
  padding: 15px 30px 15px 15px;
}
.csf-modal-content a:active, .csf-modal-content a:focus {
  outline: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.csf-modal-content h4 {
  font-size: 13px;
}
.csf-modal-content h4 small {
  font-style: italic;
  font-weight: 400;
  color: #aaa;
}

.csf-modal-title {
  position: relative;
  background-color: #fcfcfc;
  border-bottom: 1px solid #ddd;
  height: 36px;
  font-size: 16px;
  font-weight: 600;
  line-height: 36px;
  margin: 0;
  padding: 0 36px 0 16px;
}

.csf-modal-header {
  width: 100%;
  padding: 16px 0;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
}
.csf-modal-header select {
  display: block;
  width: 250px;
  margin: 0 auto;
}

.csf-modal-close {
  color: #666;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
}
.csf-modal-close:before {
  font: normal 20px/36px dashicons;
  content: "\f158";
  vertical-align: top;
  width: 36px;
  height: 36px;
}
.csf-modal-close:hover {
  opacity: 0.5;
}

.csf-modal-insert-wrapper {
  text-align: center;
  width: 100%;
  padding: 16px 0;
  background-color: #f5f5f5;
  border-top: 1px solid #eee;
}

.csf-modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}

.csf-shortcode pre {
  display: none;
}

.csf-clone-button-wrapper {
  margin: 10px 0;
  text-align: center;
}

.csf-shortcode-cloned .csf-remove-clone {
  display: block;
}

.csf-shortcode-clone {
  position: relative;
  border-top: 1px dashed #5cb85c;
}
.csf-shortcode-clone:first-child {
  border: none;
}
.csf-shortcode-clone .csf-remove-clone {
  cursor: pointer;
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1;
  padding: 5px;
  color: #ed6f6f;
  opacity: 0.75;
}
.csf-shortcode-clone .csf-remove-clone:hover {
  opacity: 1;
}

.csf-modal-icon .csf-icon-search {
  width: 250px;
  height: 40px;
  line-height: 40px;
}
.csf-modal-icon a {
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}
.csf-modal-icon a .csf-icon {
  position: relative;
  padding: 5px;
  display: inline-block;
  font-size: 14px;
  width: 30px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  vertical-align: top;
  color: #555;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
}
.csf-modal-icon a:hover .csf-icon {
  color: #fff;
  border-color: #222;
  background-color: #222;
}
.csf-modal-icon .csf-icon-loading {
  color: #999;
  margin: 10px;
}
.csf-modal-icon .csf-modal-content {
  height: 638px;
}

.csf-icon-scrolling,
.csf-shortcode-scrolling {
  overflow: hidden;
  height: 100%;
}
.csf-icon-scrolling .wp-full-overlay,
.csf-shortcode-scrolling .wp-full-overlay {
  z-index: 1;
}

.csf-text-desc {
  font-style: italic;
  font-weight: 400;
  margin-top: 10px;
  color: #999;
}

.csf-text-success {
  color: #2b542c;
}

.csf-text-info {
  color: #31708f;
}

.csf-text-warning {
  color: #d02c21;
}

.csf-text-muted {
  color: #aaa;
}

.csf-text-left {
  text-align: left;
}

.csf-text-center {
  text-align: center;
}

.csf-text-right {
  text-align: right;
}

.csf-block-left {
  float: left;
}

.csf-block-right {
  float: right;
}

.csf-table {
  width: 100%;
  display: table;
}

.csf-table-cell {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

.csf-text-highlight {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.csf-text-highlight-gray {
  padding: 2px 4px;
  font-size: 90%;
  background-color: #f0f0f0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.csf-hidden {
  display: none;
}

.csf-warning-primary {
  color: #fff !important;
  border-color: #d02c21 #ba281e #ba281e !important;
  background: #e14d43 !important;
  -moz-box-shadow: 0 1px 0 #ba281e !important;
  -webkit-box-shadow: 0 1px 0 #ba281e !important;
  box-shadow: 0 1px 0 #ba281e !important;
  text-shadow: 0 -1px 1px #ba281e, 1px 0 1px #ba281e, 0 1px 1px #ba281e, -1px 0 1px !important;
  text-shadow: 0 -1px 1px #ba281e, 1px 0 1px #ba281e, 0 1px 1px #ba281e, -1px 0 1px #ba281e !important;
}
.csf-warning-primary:hover, .csf-warning-primary:focus {
  border-color: #ba281e !important;
  background: #e35950 !important;
  -moz-box-shadow: 0 1px 0 #ba281e !important;
  -webkit-box-shadow: 0 1px 0 #ba281e !important;
  box-shadow: 0 1px 0 #ba281e !important;
}
.csf-warning-primary:active {
  border-color: #ba281e !important;
  background: #d02c21 !important;
  -moz-box-shadow: inset 0 2px 0 #ba281e !important;
  -webkit-box-shadow: inset 0 2px 0 #ba281e !important;
  box-shadow: inset 0 2px 0 #ba281e !important;
}

@media only screen and (max-width: 1200px) {
  .csf-metabox .csf-field .csf-title {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }
  .csf-metabox .csf-field .csf-fieldset {
    margin-left: 0;
  }
}
@media only screen and (max-width: 782px) {
  .csf-header-inner {
    text-align: center;
  }
  .csf-header-inner h1 {
    width: 100%;
    margin-bottom: 10px;
  }

  .csf-search,
  .csf-header-right,
  .csf-header-left {
    width: 100%;
  }

  .csf-search {
    text-align: center;
    margin-bottom: 15px;
  }

  .csf-footer {
    text-align: center;
  }

  .csf-buttons {
    float: none;
  }

  .csf-copyright {
    float: none;
    margin-top: 10px;
  }

  .csf-expand-all,
  .csf-nav-background,
  .csf-nav {
    display: none;
  }

  .csf-content {
    margin-left: 0;
  }

  .csf-section-title,
  .csf-section {
    display: block !important;
  }

  .csf-field .csf-title {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }
  .csf-field .csf-fieldset {
    margin-left: 0;
  }

  .csf-modal-inner {
    width: 350px;
    height: 380px;
  }

  .csf-modal-content {
    height: 282px;
  }

  .csf-icon-dialog .csf-modal-inner {
    width: 305px;
    height: 380px;
  }
  .csf-icon-dialog .csf-modal-content {
    height: 267px;
  }
}

.wp-customizer .csf-field-background .csf-field-select {
    width: 24% !important;
    margin-right: 1%;
}
