/* Last modified: 05 02 2017, 03:25:55 */ @import '//fonts.googleapis.com/css?family=Roboto';@import '//fonts.googleapis.com/css?family=Roboto';
	a:hover, .sf-menu li:hover > a, .sf-menu li > a:hover, .sf-menu > .selectedLava > a, 
	.list .current a, .event-date, .item_small span a:hover, .countdown li span, .page-template-page-onepage .sf-menu li.current a, 
	.likes_dislikes .liked, .likes_dislikes .disliked, header .full_menu {
		color: #755900
	}

	.button,.page-numbers a,.page-numbers span,.pagination a,.pagination > b,.widget_product_search #searchsubmit,
	.post-password-form input[type="submit"], .wpcf7-submit, .submit_user, #commentform #submit, .sf-menu li li a span, .sf-menu .back .left, .jp-play-bar,
	.jp-volume-bar-value, .commentlist li.bypostauthor > .comment-body:after,.commentlist li.comment-author-admin > .comment-body:after, .tagcloud a:hover, 
	.dropcap, #toTop:hover, .cdEffect:hover:before, .sf-menu li li > a:after {
		background-color: #755900
	}

	::selection, 
	::-moz-selection {
		background-color: #755900
	}

	textarea:focus, input:focus, h4.tt, h3.tt, .widget_gardengeneralposts h4, .list-custom-taxonomy-widget h4, .list-custom-taxonomy-widget li.current a, .widget_archive li.current a, 
	.widget_categories li.current a, .widget_nav_menu li.current a, .widget_meta li.current a, .widget_pages li.current a, .widget_archive li:hover a, .widget_pages li:hover a, 
	.widget_meta li:hover a, .widget_nav_menu li:hover a, .widget_categories li:hover a, .list-custom-taxonomy-widget a:hover, .widget_categories li li:hover a, .widget_nav_menu li li:hover a, 
	.widget_meta li li:hover a, .widget_pages li li:hover a, .widget_archive li li:hover a, .widget_pages li li:hover a, .widget_meta li li:hover a, .widget_nav_menu li li:hover a, 
	.widget_nav_menu li:hover > a, .widget_categories li li:hover a,.widget_recent_comments li:hover, .widget_rss li:hover, .wtext a.active, .wtext a:hover, .dropcap-border,
	#bbpress-forums #bbp-user-wrapper h2.entry-title {
		border-color: #755900
	}
	.cd_doing span, .rotating {
		border-top-color: #755900
	}
	#header{background-color:rgba(0,0,0,0.01);background-image:url();border-style:solid;}.logo{float:none;display:table;margin-left: auto !important;margin-right: auto !important;margin-top:0px;margin-bottom:0px;border-style:solid;}.sf-menu{float:none;display:table;margin-left: auto !important;margin-right: auto !important;font-family:Roboto;border-style:solid;}h1, h2, h3, h4, h5, h6{color:#755900;font-family:Roboto;}h4.tt::first-letter, h3.tt::first-letter, .widget_gardengeneralposts h4::first-letter, .list-custom-taxonomy-widget h4::first-letter{color:#755900;}#footer{background-image:url();border-style:solid;}