/*
Theme Name:	Remix Child
Theme URI:	http://themeforest.net/user/Codevz/portfolio
Description:Sample child theme of Remix for customization.
Author:		Codevz
Author URI:	http://themeforest.net/user/Codevz
Template:	remix
Version:	3.5
*/

@import url("../remix/style.css");
/*@import url("./assets/css/unslider.css");
@import url("./assets/css/unslider-dots.css");*/
h1,h2,h3,h4,h5,h6,p,a{
  word-wrap: normal !important; 
  line-height: 1.5em;
}
h1,h2,h3,h4,h5,h6{
  color: #000 !important;
}
/*#header{
  background-color:rgba(0,0,0,0) !important;
  background-image:url();
  border-style:solid;
}*/
img{width: 100%;}
@media screen and (max-width: 769px){
  #mobile{
    display: none !important;
  }
  #header > div.row{
    float: right !important;
  }
}
#layout > .row{
  margin-top: 49px;
}
.row{
  width: 1030px !important
}
.sf-menu{
  font-size: 16px !important;
}
.color-orange{
  color: #D56A00;
}
.color-white{
  color: #FFFFFF;
}
.home .vc_row.vc_column-gap-20 > .vc_column_container{
  padding: initial !important;
}
.tt, .liner{
  display: none !important;
}
a:hover{
  color: #FF8900 !important;
}

header#header > .row.clr{
  width: 100% !important;
  max-width: initial !important;
  position: fixed;
  background-color: #808080;
}

header#header > .row.clr .headdown{
  margin: 0 auto;
  display: block;
}

div.logo{
  font-size: 40px;
  font-weight: 800;
  display: inline;
  color: #fff;
  float: left;
  padding: 10px 0; 
}
header#header .headdown #mobile{
  display: inline;
  float: left;
  padding-left: 70px;
  width: 77%;
}
header#header .headdown #mobile ul{
  display: inline;
}
header#header .headdown #mobile ul li{
  border-bottom: 4px solid rgba(0,0,0,0);
}
header#header .headdown #mobile ul li.current-menu-item{
  border-bottom: 4px solid #FF8900;
}
header#header .headdown #mobile ul a{
  font-size: 14px;
  padding: 15px 20px 15px 20px !important;
  color: #fff;
  text-align: center;
}
header#header .headdown #mobile .popup-link{
  padding-top: 10px;
  display: inline-block;
  color: #fff;
  float: right;
}
header#header .headdown #mobile .popup-link a{
  color: #fff;
  cursor: pointer;
}
header#header .headdown.ONsticky{
  background: #808080;
}
header#header .headdown.ONsticky .row{
  padding: 0;
}

header .lwa .lwa-avatar{
  display: none;
}
header .lwa .lwa-info{
  display: inline;
  float: right;
}

div.container.search-results{
  padding: 30px;
}
body.single .arrows{ display: none; }
.adzone.full-width .grid_container{ width: 100% !important; margin: 0 !important; }
.facetwp-facet .facetwp-loading{width: 20px; display: inline-block;}
i.facetwp-btn{display: none;}

.wppaszone .grid_container{
  margin: 0 !important;
  width: 100% !important;
}
/* ------------------------------------------------------------------------- *
 *  Theme customization starts after here
/* ------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------- *
 *  General website setting
/* ------------------------------------------------------------------------- */
.page-content div.row{
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.16);
}
#layout{background-color: #f7f5f6 !important; overflow: hidden;}
article{ padding: 0px !important; }
#page-content{ background-color: #fff !important; }
#page-content .page-content{ padding: 0px !important;}

div#arrows {z-index: 9999; position: fixed; }
div#arrows a#arrow-prev{position: fixed; top: 50%; left: 10px;}
div#arrows a#arrow-prev div#arrow-prev-text{position: fixed; top: 50.05%; left: -150px;}
div#arrows a#arrow-next{position: fixed; top: 50%; right: 10px;}
div#arrows a#arrow-next div#arrow-next-text{position: fixed; top: 50.05%; right: -150px;}
div#arrows a#arrow-prev,div#arrows a#arrow-next{color: #231f20;}
div#arrows a#arrow-prev div#arrow-prev-text,div#arrows a#arrow-next div#arrow-next-text{
  padding: 15px 40px;
  color: #FFF; 
  font-size: 1em; 
  text-align: center;
  background-color: #f6861f;
}
div#arrows a#arrow-prev:hover,div#arrows a#arrow-next:hover{color: #f6861f;}


div#page-content div.row article{
  min-height:1000px; 
}
.unslider-arrow{
  display: none;
}
.grid_0,
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12{
  display: inline-block;
  float: initial;
  vertical-align: top;
  margin:0;
}
.grid_1 {width:6.333% !important;}
.grid_2 {width:14.667% !important;}
.grid_3 {width:23.0% !important;}
.grid_4 {width:31.333% !important;}
.grid_5 {width:39.667% !important;}
.grid_5_col {width:18% !important;}
.grid_6 {width:48.0% !important;}
.grid_7 {width:56.333% !important;}
.grid_8 {width:64.667% !important;}
.grid_9 {width:73.0% !important;}
.grid_10 {width:81.333% !important;}
.grid_11 {width:89.667% !important;}
.grid_12 {width:100% !important;}
.single .grid_1,
.single .grid_2,
.single .grid_3,
.single .grid_4,
.single .grid_5,
.single .grid_6,
.single .grid_7,
.single .grid_8,
.single .grid_9,
.single .grid_10,
.single .grid_11,
.single .grid_12{
  margin: 0;
}
hr.hr-home, hr.hr-investment {
    margin-top: 0em;
    padding: 0;
    border: none;
    border-top: 1px solid #95989A;
    color: #333;
    text-align: center;
}
hr.hr-home:after {
    display: inline-block;
    position: relative;
    top: -3.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
hr.hr-investment:after {
    display: inline-block;
    position: relative;
    top: -3em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

hr.hr-home-interest:after {
  content: url(http://test.multisupport.co.nz/wp-content/uploads/2017/01/home-interest.png);
}
hr.hr-home-ganhuo:after {
  content: url(http://test.multisupport.co.nz/wp-content/uploads/2017/01/home-ganhuo.png);
}
hr.hr-investment-investment:after {
  content: url(http://test.multisupport.co.nz/wp-content/uploads/2017/01/hrinvestment.png);
}
hr.hr-home-nzlife:after {
  content: url(http://test.multisupport.co.nz/wp-content/uploads/2017/01/life.png);
}

article.esg-filters{
  min-height: initial !important;
}
div.mb{
  display: none;
}
.seq {
  position: relative;
  /* Dimensions */
  height: 470px;
  /*width: 100%;*/
  max-width: 640px;
  /* Hide anything that goes beyond the boundaries of the Sequence container */
  overflow: hidden;
  /* Center the Sequence container on the page */
  /*margin: 0 auto;*/
  padding: 0;
}

.seq .seq-screen,
.seq .seq-canvas,
.seq .seq-canvas > * {
  /* Reset the canvas and steps for more browser consistency */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  list-style: none;
}
.seq .seq-canvas > * {
  position: absolute;
}

.seq .seq-canvas {
  max-width: 640px;
  overflow: hidden;
  position: relative;
  display: block;
  margin: 0 auto;
}
div.clearfix{
  height: 80px;
  padding-top: 80px;
}
div.clearfix-sm{
  padding-top: 40px;
}


/* ------------------------------------------------------------------------- *
 *  Header Stylesheet
/* ------------------------------------------------------------------------- */

.login-modal{
  position: fixed;
  width: 40%;
  min-height: 320px;
  max-width: 380px;
  max-height: 474px;
  padding: 48px 58px;
  border: 10px solid #C3C3C3;
  background-color: #FFF;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) !important;
  -webkit-transform: translateX(-50%) translateY(-50%) !important;
  z-index: 999;
  display: none;
}
.login-modal .modal-tabs{
  width: 100%;
  margin: auto;
  display: table;
}
.login-modal .modal-tabs .register-tab, .login-modal .modal-tabs .login-tab{
  height: 50px;
  font-size: 20px;
  background-color: #959595;
  border: 1px solid #fff;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.login-modal .modal-tabs .register-tab a, .login-modal .modal-tabs .login-tab a{
  color: #FFFFFF;
}
.login-modal .modal-tabs .register-tab.active, .login-modal .modal-tabs .login-tab.active{
  background: #5A5A5A;
}
.login-modal .login-container{
  width: 100%;
  position: relative;
  margin-top: 30px; 
  display: block;
  /*display: none;*/
}
.login-modal .register-container{
  width: 100%;
  position: relative;
  margin-top: 30px;
  /*display: block;*/
  display: none;
}
.login-modal .register-container input, .login-modal .login-container input{
  font-size: 14px;
  width: 100%;
  height: 40px;
  padding: 10px 12px; 
}
.login-modal .register-container input:not(:first-child), .login-modal .login-container input:not(:first-child){
  margin-top: 26px;
}
.login-modal .register-container input.submit_button, .login-modal .login-container input.submit_button{
  font-size: 20px;
  color: #ffffff;
  background-color: #C95500;
  width: 142px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.login-modal a.close{
  position: absolute;
  right: 10px;
  top: 10px;
}
/* ------------------------------------------------------------------------- *
 *  Footer Stylesheet
/* ------------------------------------------------------------------------- */
.mbf{
  margin-bottom: 0px !important;
}

div.mbf section.widget{
  margin-bottom: 0px;
}

div.mbf section.def-block{
  background-color: rgba(255, 255, 255, 0);
}

.mc4wp-form-fields{
  display: inline !important;
  vertical-align: middle !important;
}

.mc4wp-form-fields input.footer-subscribe-input-email{
  font-size: 16px;
  font-color: #95989A;
  height: 50px;
  background-color: #fff;
  border: #95989A 1px solid;
  margin-right: 12px;
  width: 70%;
  display: inline !important;
  vertical-align: middle !important;
}

.mc4wp-form-fields input.footer-subscribe-input-email::placeholder{
  color: #95989A !important;
  font-size: 16px;
}

.mc4wp-form-fields button.footer-subscribe-submit-button{
  height: 50px;
  padding: 12px;
  background-color: #C3C3C3;
  color: #000;
  font-size: 20px;
  border-width: 0px;
  line-height: initial;
  display: inline !important;
  vertical-align: middle !important;
}
div.footer-last{
  background-color: #404040 !important;
  font-size: 16px !important;
  color: #95989A !important;
}

div.footer-last div.row span.copyright{
  padding: 0px 45px !important;
}

.pagination {
clear:both;
padding:20px 0;
position:relative;
font-size:11px;
line-height:13px;
}
 
.pagination span, .pagination a {
display:block;
float:left;
margin: 2px 2px 2px 0;
padding:6px 9px 5px 9px;
text-decoration:none;
width:auto;
color:#fff;
background: #555;
}
 
.pagination a:hover{
color:#fff;
background: #3279BB;
}
 
.pagination .current{
padding:6px 9px 5px 9px;
background: #3279BB;
color:#fff;
}
/* ------------------------------------------------------------------------- *
 *  Home style
/* ------------------------------------------------------------------------- */

/* homepage left guess you like */
#home-top-slider-outer-wrap .vc_col-sm-8{
  width: 640px;
  margin-right: 15px;
  overflow: hidden;
}
#home-top-slider-outer-wrap .vc_col-sm-4{
  width: 300px;
  margin-left: 15px;
}

.home-top-slider .rand-single-post{
  max-height: 470px;
  width: 640px;
}
.home-top-slider .rand-single-post .rand-post-thumbnail{
  height: 384px;
  overflow: hidden;
}
.home-top-slider .rand-single-post .rand-post-title{
  font-size: 20px;
  background-color: rgba(179, 179, 179, 0.45);
  /*width: 100%;*/
  max-width: 640px;
  height: 86px;
  padding: 0 20px;
  overflow: hidden;
/*  bottom: 100px;
  position: relative;*/
}
.home-top-slider .rand-single-post .rand-post-title p{
  margin: 30px 15px;
  max-height: 28px;
  overflow: hidden;
}
.home-top-slider .rand-single-post .rand-post-excerpt,
.home-top-slider .rand-single-post .rand-post-date-and-author{
  display: none;
}

.left-interest-rand-post-button{
  position: absolute;
  right: -13%;
  top: -100px;
  font-size: large;
  cursor: pointer;
}
.home-right-top-posts .rand-single-post{
  height: 220px;
  overflow: hidden;
}

.home-right-top-posts .rand-single-post:not(:first-child){
  margin-top: 30px;
}
.home-right-top-posts .rand-single-post .rand-post-thumbnail{
  height: 180px;
  overflow: hidden;
}

.home-right-top-posts .rand-single-post .rand-post-content .rand-post-title{
  width: 300px;
  font-size: 16px;
  background-color: rgba(179,179,179,0.45);
}
.home-right-top-posts .rand-single-post .rand-post-content .rand-post-title p{
  line-height: 26px;
  padding: 10px 16px;
}
.home-right-top-posts .rand-single-post .rand-post-content .rand-post-excerpt,
.home-right-top-posts .rand-single-post .rand-post-content .rand-post-date-and-author
{
  display: none;
}
.seq li{
  opacity: 0;
}
.seq li.seq-in{
  opacity: 1;
}
.seq li.seq-out{
  opacity: 0;
}
/*.home-top-slider .seq img{*/
.seq li img{
  transform: translateX(-100%);
  transition: 0.5s;
}
/*.home-top-slider .seq .seq-out img{*/
.seq li.seq-out img{
  transform: translateX(100%);
  transition: 0.5s;
}
/*.home-top-slider .seq .seq-in img{*/
.seq li.seq-in img{
  transform: translateX(0);
  transition: 0.5s;
}
.seq li .slider-title{
  opacity: 0;
  transition: 0.5s;
}
/*.home-top-slider .seq .seq-out img{*/
.seq li.seq-out .slider-title{
  opacity: 0;
  transition: 0.5s;
}
/*.home-top-slider .seq .seq-in img{*/
.seq li.seq-in .slider-title{
  opacity: 1;
  transition: 0.5s;
}

/*.left-interest-rand-posts .rand-single-post{
  margin-bottom: 20px !important; 
}*/
.left-interest-rand-posts{
  border-right: 1px solid #95989a;
  margin-right: 15px;
}
.left-interest-rand-posts .rand-single-post{
  float: initial !important;
}
.left-interest-rand-posts .rand-single-post:not(:last-child){
  margin-bottom: 20px !important;
}
.left-interest-rand-posts .rand-post-thumbnail{
  width: 200px;
  margin-right: 8px;
}
.left-interest-rand-posts .rand-single-post .rand-post-content{
  margin-top: 20px;
}

.left-interest-rand-posts .rand-single-post 
.rand-post-content .rand-post-title p{
  font-size: 18px !important;
  color: #000000 !important;
}

.left-interest-rand-posts .rand-single-post 
.rand-post-content .rand-post-excerpt{
  margin-top: 18px;
}

.left-interest-rand-posts .rand-single-post 
.rand-post-content .rand-post-excerpt p{
  font-size: 14px !important;
  color: #000000 !important;
  text-align: left !important;
  font-family:Abril Fatface !important;
  font-weight:400 !important;
  font-style:normal !important;
}

.left-interest-rand-posts .rand-single-post 
.rand-post-content .rand-post-date-and-author p{
  display: none;
}
.home-right-interest{
  width: 300px !important;
  padding-left: 9px;
}
.home-right-interest .wppaszone .grid_container:not(:first-child){
  margin-top: 30px !important;
}
.home-middle-ads .wppaszone .grid_container{
  margin: 0 !important;
  width: 100% !important;
}

/* ganhuokanbuwan stylesheet */
.home-ganhuos{
  text-align: justify;
}
.home-ganhuos .rand-single-post.grid_4:not(:nth-child(3n+3)){
  margin-right: 34px;
}
.home-ganhuos .rand-single-post{
  margin-top: 30px;
  width: 300px !important;
}
.home-ganhuos .rand-single-post:nth-child(1),
.home-ganhuos .rand-single-post:nth-child(2),
.home-ganhuos .rand-single-post:nth-child(3){
  margin-top: 0px;
}
.home-ganhuos .rand-single-post .rand-post-thumbnail{
  margin: 0px auto 16px auto;
}
.home-ganhuos .rand-single-post .rand-post-title{
  /*text-align: center;*/
  width: 300px;
  font-size: 18px;
}

.home-ganhuos .rand-single-post .rand-post-title p{
  height: 25px;
  padding: 0 15px;
}
.home-ganhuos .rand-single-post .rand-post-excerpt, 
.home-ganhuos .rand-single-post .rand-post-date-and-author{
  display: none;
}

.home-search-form .searchform{
  font-size: 16px;
}

.home-search-form .searchform input{
  height: 60px;
  font-size: 16px;
}

body.home .rand-post-thumbnail.grid_8{
  margin-right: 13px;
}

.home-facetwp-homesearch{
  width: 100%;
  max-width: 400px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.home-facetwp-homesearch .facetwp-facet-homesearch{
  margin-bottom: 0px !important;
  width: 100%;
  display: inline-block;
}

.home-facetwp-homesearch .facetwp-facet-homesearch input{
  font-size: 16px;
  background: #fff;
  color: #999;
  border-radius: 10px;
  height: 45px; 
}

.home-facetwp-homesearch a#home-search-button{
  right: 17px;
  top: 4px;
  position: absolute;
  display: block;
}
/* ------------------------------------------------------------------------- *
 *  Investment style
/* ------------------------------------------------------------------------- */

/* investment facetWP */
.investment-facetwp-filter{
  padding: 14px 0px;
  background-color: #E6E6E6;
  text-align: center;
  margin-bottom: 30px !important;
}

.investment-facetwp-filter .facetwp-facet{
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}
.investment-facetwp-filter .facetwp-button{
  margin: auto;
  display: inline-block;

}
.investment-facetwp-filter .facetwp-type-fselect{
  height: 30px !important;
  margin-bottom: 0px !important;
  position: relative;
  top: 5px;
}
.investment-facetwp-filter .facetwp-facet .fs-wrap{
  height: 30px !important;
}
.investment-facetwp-filter .facetwp-facet .fs-wrap .fs-label-wrap{
  height: 30px !important;
}
.investment-facetwp-filter .facetwp-facet .fs-wrap .fs-label-wrap .fs-label{
  margin-top: 2px;
}
.investment-facetwp-filter .fs-arrow{
  margin-top: 12px !important;
}
.facetwp-type-fselect .fs-wrap, .facetwp-type-fselect .fs-dropdown{
  width: 138px !important;
}
.investment-facetwp-filter select{
  min-width: 0px !important;
  overflow: hidden;
  max-width: 150px;
}
.investment-facetwp-filter button{
  color: #fff;
  background-color:#575757;
  padding-left: 10px;
  padding-right: 10px;
  border: 0px;
}
.investment-facetwp-filter 
.facetwp-facet-project_city::before{
  content: "城市: ";
  top: -7px;
  position: relative;
}
.investment-facetwp-filter 
.facetwp-facet-project_region::before{
  content: "区域: ";
  top: -7px;
  position: relative;
}
.investment-facetwp-filter 
.facetwp-facet-project_type::before{
  content: "类型: ";
  top: -7px;
  position: relative;
}
.investment-facetwp-filter 
.facetwp-facet-project_price::before{
  content: "价格: ";
  top: -7px;
  position: relative;
}
.facetwp-template .investment-investments 
.investment-single-investment{
  width: 300px !important;
  overflow: hidden;
  margin-bottom: 30px;
}
.facetwp-template .investment-investments 
.investment-single-investment:not(:nth-child(3n+3)){
  margin-right: 30px;
}
.facetwp-template .investment-investments 
.investment-single-investment .container{
  /*padding: 10px;*/
}
.facetwp-template .investment-investments 
.investment-single-investment .single-investment-city{
  font-size: 26px;
  height: 40px;
  width: 220px;
  text-align: center;
  background-color: #fff;
  padding-top: 10px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 24px;
  left: -60px;
  overflow: hidden;
}
.facetwp-template .investment-investments 
.investment-single-investment .single-investment-content .investment-title{
  font-size: 18px;
  padding-top: 18px;
}
.facetwp-template .investment-investments 
.investment-single-investment .single-investment-content .investment-address{
  font-size: 14px;
  padding-top: 18px;
}
.investment-interests .rand-single-post .container{
  /*padding: 10px;*/
}
.investment-interests .rand-single-post 
.rand-post-content .rand-post-title {
  font-size: 18px;
  padding: 15px 15px 0px 15px;
  line-height: 18px;
  display: block;
}
.investment-interests .rand-single-post 
.rand-post-content .rand-post-excerpt{
  display:none;
}
.investment-interests .rand-single-post 
.rand-post-content .rand-post-date-and-author{
  display:none;
}

.investment-top-slider .seq {
  position: relative;
  /* Dimensions */
  height: 680px;
  width: 100%;
  max-width: 970px;
  /* Hide anything that goes beyond the boundaries of the Sequence container */
  overflow: hidden;
  /* Center the Sequence container on the page */
  margin: 0 auto;
  padding: 0;
}

.investment-top-slider .seq .seq-screen,
.investment-top-slider .seq .seq-canvas,
.investment-top-slider .seq .seq-canvas > * {
  /* Reset the canvas and steps for more browser consistency */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  list-style: none;
}
.investment-top-slider .seq .seq-canvas > * {
  position: absolute;
}

.investment-top-slider .seq .seq-canvas {
  max-width: 970px;
  overflow: hidden;
  position: relative;
  display: block;
  margin: 0 auto;
}
.investment-top-slider .seq .seq-canvas .slider-title{
  font-weight: 800;
}
.investment-top-slider .seq .seq-canvas .slider-title,
.investment-top-slider .seq .seq-canvas .slider-address{
  font-size: 28px;
  line-height: 28px;
  padding: 10px 0 0 0;
}
.investment-top-slider .seq .seq-canvas .slider-title,
.investment-top-slider .seq .seq-canvas .slider-address{
  opacity: 0;
}
.investment-top-slider .seq .seq-canvas .seq-out .slider-title,
.investment-top-slider .seq .seq-canvas .seq-out .slider-address{
  opacity: 0;
}
.investment-top-slider .seq .seq-canvas .seq-in .slider-title,
.investment-top-slider .seq .seq-canvas .seq-in .slider-address{
  opacity: 1;
}
.investment-interests .rand-single-post:not(:nth-child(3n+3)){
  margin-right: 3%;
}

/* ------------------------------------------------------------------------- *
 *  property-news style
/* ------------------------------------------------------------------------- */
.property-news-wrap > .vc_col-sm-8{
  width: 640px;
  margin-right: 15px !important;
}
.property-news-wrap > .vc_col-sm-4{
  width: 300px;
  margin-left: 15px !important;
}
.property-news-posts .rand-single-post.grid_6{
  width: 300px !important;
}
.property-news-posts .rand-single-post.grid_6:not(:last-child){
  margin-right: 30px;
}
.property-news-top .rand-single-post 
.rand-post-content .rand-post-title{
  margin-top: 18px;
  font-size: 28px;
}
.property-news-top .rand-single-post 
.rand-post-content .rand-post-excerpt{
  margin-top: 18px;
  font-size: 14px;
}
.property-news-top .rand-single-post 
.rand-post-content .rand-post-date-and-author{
  margin-top: 15px;
  font-size: 12px;
}

.property-news-posts .rand-single-post 
.rand-post-content .rand-post-title{
  margin-top: 18px;
  font-size: 18px;
}
.property-news-posts .rand-single-post 
.rand-post-content .rand-post-excerpt{
  display: none;
}
.property-news-posts .rand-single-post 
.rand-post-content .rand-post-date-and-author{
  margin-top: 11px;
  font-size: 12px;
}
.investment-investments .property-news-news{
  width: 300px !important;
}
.investment-investments .property-news-news:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)){
  margin-top: 30px;
}
.investment-investments .property-news-news:not(:nth-child(3n+3)){
  margin-right: 30px;
}

.property-news-news .single-property-news-content .news-title{
  height: 50px;
  padding-top: 11px;
  font-size: 18px;
  overflow: hidden;
}
.property-news-facetwp-search{
  width: 400px;
  height: 50px;
  margin: 0 auto;
  border: 1px solid #95989A;
}
.property-news-facetwp-search .facetwp-facet-propertynewssearch{
  width: 320px;
  margin-bottom: 0px;
  display: inline-block;
}
.property-news-facetwp-search .facetwp-facet-propertynewssearch input{
  font-size: 18px;
  height: 50px;
  border: 0px solid #fff;
}
.property-news-facetwp-search #propertynews-search-button{
  width: 80px;
  height: 50px;
  text-align:right; 
  display: inline-block;
  background-color: #FF8900;
  position: absolute;
}
.property-news-facetwp-search #propertynews-search-button i{
  color: #fff;
  padding-top: 7px;
  padding-right: 21px;
}
.property-news-rand-posts .rand-single-post.grid_3{
  font-size: 14px;
  padding: 10px 13px 0 13px;
  height: 24px;
  overflow: hidden;
}
.property-news-rand-posts .rand-single-post.grid_3:nth-child(1),
.property-news-rand-posts .rand-single-post.grid_3:nth-child(2),
.property-news-rand-posts .rand-single-post.grid_3:nth-child(3),
.property-news-rand-posts .rand-single-post.grid_3:nth-child(4){
  padding-top: 0 !important;
}
.property-news-rand-posts .rand-single-post.grid_3:nth-child(4n+1){
  padding-left: 0px;
  padding-right: 13px;
}
.property-news-rand-posts .rand-single-post.grid_3:nth-child(4n+4){
  padding-left: 12px;
  padding-right: 0px; 
}
.property-news-rand-posts .rand-single-post .rand-post-thumbnail{
  display: none;
}

.property-news-rand-posts .rand-single-post .rand-post-content .rand-post-excerpt,
.property-news-rand-posts .rand-single-post .rand-post-content .rand-post-date-and-author{
  display: none;
}
/* ------------------------------------------------------------------------- *
 *  single investment style
/* ------------------------------------------------------------------------- */

.single-investment-content-row{
  padding: 40px 45px 0 45px;
}
.single-investment-content-row .seq {
  position: relative;
  /* Dimensions */
  height: 500px;
  width: 100%;
  max-width: 100%;
  /* Hide anything that goes beyond the boundaries of the Sequence container */
  overflow: hidden;
  /* Center the Sequence container on the page */
  margin: 0 auto;
  padding: 0;
}

.single-investment-content-row .seq .seq-screen,
.single-investment-content-row .seq .seq-canvas,
.single-investment-content-row .seq .seq-canvas > * {
  /* Reset the canvas and steps for more browser consistency */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  list-style: none;
}
.single-investment-content-row .seq .seq-canvas > * {
  position: absolute;
}

.single-investment-content-row .seq .seq-canvas {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  display: block;
  margin: 0 auto;
}

.single-investment-content-row .single-investment-content,.single-investment-content-row .single-investment-sidebar{
  padding-top: 40px;
}
.single-investment-content-row .single-investment-content{
  margin-right: 1.617%; 
}

.single-investment-content-row .single-investment-content p{
  font-size: 14px;
}
.single-investment-content-row .single-investment-content .title{
  font-size: 28px;
}

.single-investment-content-row .single-investment-content .single-investment-label{
  font-size: 20px;
  margin-bottom: 14px; 
}

.single-investment-content-row .grid_4.single-investment-sidebar .single-investment-contact .contact-label{
  font-size: 20px;
}

.single-investment-content-row .single-investment-sidebar .single-investment-contact .label-wrap{
  padding: 12px 32px;
  border-left: #D07000 12px solid;
  background-color: #575757; 
}

.single-investment-content-row .single-investment-sidebar .single-investment-contact .contact-content{
  background-color: #E6E6E6;
}

.single-investment-content-row .single-investment-sidebar .single-investment-contact .contact-content .single-content{
  padding: 32px;
}
.single-investment-content-row .single-investment-sidebar .single-investment-contact .contact-content .single-content img{
  width:100%;
}
.single-investment-content-row .rand-single-post.grid_4:not(:nth-child(3n+3)){
  margin-right: 3%;
}
/* ------------------------------------------------------------------------- *
 *  single cptnews style
/* ------------------------------------------------------------------------- */

body.single-cptnews .cptnews > .vc_row > .content{
  padding: 45px;
}
body.single-cptnews .cptnews > .vc_row > .content > .ad-zone{
  padding-bottom: 45px;
}
body.single-cptnews .grid_8.content{
  margin-right: 1.617%; 
}
body.single-cptnews .grid_8.content .meta p.title {
  margin: 0 25px 15px 25px;
  font-size: 28px;
  color: #000;
}
body.single-cptnews .grid_8.content .meta {
  margin-bottom: 25px;
}
body.single-cptnews .grid_8.content .meta hr{
  color: #95989A;
}
body.single-cptnews .grid_8.content .meta p{
  font-size: 14px;
  color: #95989A;
  margin: 0 25px;
}
body.single-cptnews .grid_8.content .meta .tags-wrap{
  float: right;
}
body.single-cptnews .grid_8.content .meta a{
  color: #95989A;
}
body.single-cptnews .grid_8.content .details{
  font-size: 14px;
  margin: 0 25px;
}
body.single-cptnews .grid_4.sidebar .ad-zone{
  margin-bottom: 32px;
}
body.single-cptnews .grid_4.sidebar .related-article .label-wrap{
  font-size: 20px;
  padding: 12px 32px;
  border-left: #D07000 12px solid;
  background-color: #575757; 
}
body.single-cptnews .grid_4.sidebar .related-article .related-article-content{
  padding: 0 12px;
  font-size: 16px;
  background-color: #E6E6E6;
}
body.single-cptnews .grid_4.sidebar .related-article .related-article-content p{
  line-height: 45px;
  margin: 0;
}
body.single-cptnews .grid_4.sidebar .related-article .related-article-content p:not(:last-child){
  border-bottom: #95989A 1px solid;
}
body.single-cptnews .grid_4.rand-single-post .rand-post-title{
  font-size: 18px
}
body.single-cptnews .grid_4.rand-single-post .rand-post-excerpt,body.single-cptnews .grid_4.rand-single-post .rand-post-date-and-author{
  display: none;
}
body.single-cptnews .grid_4.rand-single-post:not(:last-child){
  margin-right: 3.0025%;
}

/* ------------------------------------------------------------------------- *
 *  single nzlife style
/* ------------------------------------------------------------------------- */
body.single-nzlife .nzlife > .vc_row > .content{
  padding: 45px;
}
body.single-nzlife .nzlife > .vc_row > .content > .ad-zone{
  padding-bottom: 45px;
}
body.single-nzlife .grid_8.content{
  margin-right: 1.617%; 
}
body.single-nzlife .grid_8.content .meta p.title {
  margin: 0 25px 15px 25px;
  font-size: 28px;
  color: #000;
}
body.single-nzlife .grid_8.content .meta {
  margin-bottom: 25px;
}
body.single-nzlife .grid_8.content .meta hr{
  color: #95989A;
}
body.single-nzlife .grid_8.content .meta p{
  font-size: 14px;
  color: #95989A;
  margin: 0 25px;
}
body.single-nzlife .grid_8.content .meta .tags-wrap{
  float: right;
}
body.single-nzlife .grid_8.content .meta a{
  color: #95989A;
}
body.single-nzlife .grid_8.content .details{
  font-size: 14px;
  margin: 0 25px;
}
body.single-nzlife .grid_4.sidebar .ad-zone{
  margin-bottom: 32px;
}
body.single-nzlife .grid_4.sidebar .related-article .label-wrap{
  font-size: 20px;
  padding: 12px 32px;
  border-left: #D07000 12px solid;
  background-color: #575757; 
}
body.single-nzlife .grid_4.sidebar .related-article .related-article-content{
  padding: 0 12px;
  font-size: 16px;
  background-color: #E6E6E6;
}
body.single-nzlife .grid_4.sidebar .related-article .related-article-content p{
  line-height: 45px;
  margin: 0;
}
body.single-nzlife .grid_4.sidebar .related-article .related-article-content p:not(:last-child){
  border-bottom: #95989A 1px solid;
}
body.single-nzlife .grid_4.rand-single-post .rand-post-title{
  font-size: 18px
}
body.single-nzlife .grid_4.rand-single-post .rand-post-excerpt,body.single-nzlife .grid_4.rand-single-post .rand-post-date-and-author{
  display: none;
}
body.single-nzlife .grid_4.rand-single-post:not(:last-child){
  margin-right: 3.0025%;
}
.social-sharing-container{
  width: 60px !important;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.16);
  text-align: center;
  position: fixed;
  display: inline;
  left: 1333px;
  top: 100px;
  padding: 20px;
}
.social-sharing-container .social-sharing-intro{
  padding-left: 4px;
}
.social-sharing-container a{
  width: 60px !important;
  height: 60px !important;
  margin-top: 15px !important;
}

a.ss-button-facebook{
  background-position: -120px -60px !important;
}
a.ss-button-facebook{
  background-position: -120px -60px !important;
}
a.ss-button-facebook:hover{
  background-position: -120px 0px !important;
}
a.ss-button-linkedin{
  background-position: -180px -60px !important;
}
a.ss-button-linkedin:hover{
  background-position: -180px 0px !important;
}
a.ss-button-twitter{
  background-position: 0px -60px !important;
}
a.ss-button-twitter:hover{
  background-position: 0px 0px !important;
}
a.ss-button-wechat{
  background-position: 0px -60px !important;
}
a.ss-button-wechat:hover{
  background-position: 0px 0px !important;
}

.qrcode-container{
  width: 200px;
  padding: 10px;
  border: 5px solid #FF8900;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
}
.qrcode-container .qrcode-intro{
  text-align: right;
}
.qrcode-container .qrcode-intro .qrcode-text{
  text-align: center;
}
/* ------------------------------------------------------------------------- *
 *  page nzlife style
/* ------------------------------------------------------------------------- */
.nzlife-middle-wrap > .vc_col-sm-8{
  width: 630px !important;
  margin-right: 20px;
}
.nzlife-middle-wrap > .vc_col-sm-4{
  width: 300px !important;
  margin-left: 20px;
}
.nzlife-facetwp-nzlifesearch{
  width: 100%;
  max-width: 500px;
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.nzlife-facetwp-nzlifesearch .facetwp-facet-nzlifesearch{
  margin-bottom: 0px !important;
  width: 100%;
  display: inline-block;
}

.nzlife-facetwp-nzlifesearch .facetwp-facet-nzlifesearch input{
  font-size: 16px;
  background: #fff;
  color: #999;
  border-radius: 10px;
  height: 60px; 
}

.nzlife-facetwp-nzlifesearch a#nzlife-search-button{
  right: 17px;
  top: 10px;
  position: absolute;
  display: block;
}
.nzlife-nzlife-container .property-news-news{
  width: 300px !important;
}
.nzlife-nzlife-container .property-news-news.grid_6:nth-child(2n){
  margin-left: 26px;
}
.nzlife-nzlife-container .property-news-news:not(:nth-last-child(2)):not(:last-child){
  margin-bottom: 30px;
}
.popular-posts .popular-posts-title{
  background-color: #575757;
  padding: 11px 0 11px 32px;
  font-size: 20px;
  color: #fff;
  border-left: 12px solid #D07000;
}
.popular-posts .popular-posts-contents{
  background-color: #E6E6E6;
  padding: 22px 0;
}
.popular-posts .popular-posts-contents ul.wpp-list li{
  font-size: 16px;
  padding-left: 22px;
  padding-right: 22px;
}
.popular-posts .popular-posts-contents ul.wpp-list li:not(:first-child){
  padding-top: 13px;
}
.popular-posts .popular-posts-contents ul.wpp-list li:not(:last-child){
  padding-bottom: 13px;
  border-bottom: 1px solid #95989A;
}
.popular-posts .popular-posts-contents ul.wpp-list li span.wpp-views{display: none;}

/* ------------------------------------------------------------------------- *
 *  nzlife search result page
/* ------------------------------------------------------------------------- */
.container.search-results .adzone-top{
  margin-bottom: 21px;
}
.container.search-results .search-page-main.grid_9{
  margin-right: 3.5899%;
}
.container.search-results .search-page-main.grid_9 .search-filters{
  margin-bottom: 20px;
}
.container.search-results .search-page-main.grid_9 .search-filters .filter-label,
.container.search-results .search-page-main.grid_9 .search-filters .filters{
  display: inline-block;
}
.container.search-results .search-page-main.grid_9 .search-filters .filter-row{
  border-top: 1px solid #95989A;
}
.container.search-results .search-page-main.grid_9 .search-filters .filter-row:last-child{
  border-bottom: 1px solid #95989A;
}
.container.search-results .search-page-main.grid_9 .search-filters .filter-label{
  font-size: 16px;
  width: 10%;
  background-color: #E6E6E6;
  padding: 7px;
}

.container.search-results .search-page-main.grid_9 .search-filters .filters .facetwp-facet{
  margin-bottom: 0;
}
.container.search-results .search-page-main.grid_9 .search-filters .filters .facetwp-facet .facetwp-checkbox{
  font-size: 16px;
  margin-bottom: 0px;
  background-size: 0px;
  display: inline-block;
}
.container.search-results .search-page-main.grid_9 .search-filters .filters .facetwp-facet .facetwp-checkbox:hover{
  color: #FF8900 !important;
}
.container.search-results .search-page-main.grid_9 .search-filters .filters .facetwp-facet .facetwp-checkbox.checked{
  color: #FF8900 !important;
}
.container.search-results .search-page-main.grid_9 .search-filters .filters .facetwp-facet .facetwp-checkbox .facetwp-counter{
  display: none;
}
.container.search-results .search-page-main.grid_9 .search-sortings{
  background-color: #E6E6E6;
  padding: 10px 14px;
  margin-bottom: 15px;
}
.container.search-results .search-page-main.grid_9 .search-sortings a{
  font-size: 12px;
  padding: 2px 7px;
  background-color: #fff;
}
.container.search-results .search-page-main.grid_9 .search-sortings a:not(:last-child){
  margin-right: 9px;
}
.container.search-results .search-page-main.grid_9 .search-template .company.grid_4:not(:nth-child(3n)){
  margin-right: 2.439%;
}
.container.search-results .search-page-main.grid_9 .search-template .company.grid_4:not(:nth-last-child(3)):not(:nth-last-child(2)):not(:last-child){
  margin-bottom: 26px;
}
.container.search-results .search-page-main.grid_9 .search-template .company.grid_4 .single-company-content .company-name{
  margin-top: 9px;
  font-size: 16px;
}
.container.search-results .adzone-bottom{
  margin-top: 42px;
}
.search-page-sidebar.grid_3 .container{
  /*max-width: 180px;*/
  padding: 9px 20px;
  background-color: #E6E6E6;
}
.search-page-sidebar.grid_3 .container .label{
  text-align: right;
  padding-right: 11%;
  margin-bottom: 12px;
}
.search-page-sidebar.grid_3 .container .wppaszone .grid_container{
  margin: 0 0 35px 0 !important;
}

/* ------------------------------------------------------------------------- *
 *  property news search result page
/* ------------------------------------------------------------------------- */
.propertynews-search-results .news:not(:nth-child(2n+3)){
  margin-right: 2.47%;
}

/* ------------------------------------------------------------------------- *
 *  single service page
/* ------------------------------------------------------------------------- */
.single .service-content .ms_row{
  padding: 30px 30px 0 30px;
}
.single .service-content .ms_row:last-child{
  padding-bottom: 30px;
}
.single .service-content .ms_row.header{
  vertical-align: baseline;
}
.single .service-content .ms_row .company-logo{
  width: 200px !important;
  margin-right: 26px;
}
.single .service-content .ms_row .company-details{
  width: 740px !important;
  margin-top: 90px;
}
.single .service-content .ms_row .company-details .company-name{
  font-size: 28px;
}
.single .service-content .ms_row .company-details .company-details-inner{
  margin-top: 40px;
}
.single .service-content .ms_row .company-details .company-details-inner .company-info{
  font-size: 14px;
}
.single .service-content .ms_row .company-intro{
  padding-top: 40px;
}
.single .service-content .ms_row .company-intro p{
  font-size: 14px;
}
