h1, h2, h3, h4, h5, h6, header .social a, a, .item_small span a, 
.post_types label, .woocommerce ul.products li.product .price, 
.woocommerce-page ul.products li.product .price, 
.woocommerce div.product span.price, .woocommerce-page div.product span.price, 
.woocommerce #content div.product span.price, .woocommerce-page #content div.product span.price, 
.woocommerce div.product p.price, .woocommerce-page div.product p.price, 
.woocommerce #content div.product p.price, .woocommerce-page #content div.product p.price,
h4.tt, h3.tt, .widget_gardengeneralposts h4, .list-custom-taxonomy-widget h4, 
.likes_dislikes a, .jp-playlist .jp-playlist-item:hover, 
.jp-playlist li.played a, li.played, .jp-playlist li:hover, 
.jp-playlist li:hover a, .jp-previous, .jp-next, .jp-mute, .jp-unmute, 
.jp-repeat, .jp-repeat-off, .popup_share .fa, .player .fa-bars, .sf-menu li li a {
	color: #0a0a0a
}
body, .next_prev a {
	color: #0a0a0a;
	background-color: #fff
}
#header {
	color: #0a0a0a;
	background-color: rgba(255, 255, 255, 0.8)
}
.sf-menu li a {
	color: #333333
}
#layout {
	background-color: #f4f4f4
}
.breadcrumbIn, article, .def-block, .wpb_flickr_widget, 
.vc_carousel, .wpb_video_widget, .footer-last, 
.ONsticky, .fullscreen_menu_on, .sf-menu li:hover ul,
.sf-menu li.sfHover ul, .Alphabet li a, .ajax_player, .toggle_player {
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: none
}
.footer-last {
	background-color: #ededed
}
.countdown li {
	color: #0a0a0a;
	border-color: #e0e0e0
}
.cdEffect h3 {
	color: #ffffff
}
.tabs-nav a:hover, .tabs-nav .active {
	color: #0a0a0a
}
.ajax_search_results, .post_types {
	background-color: #ededed;
	border-color: #d6d6d6
}
.ajax_search_results h5, 
.ajax_search_results .item_small {
	background-color: #d6d6d6
}
.jp-interface, .jp-playlist {
	background-color: #f7f7f7
}
.rotating {
	border-top-color: #ff0078
}
.jp-share {
	background-color: #ffffff
}
.ajax_search_results:before, 
.post_types:before {
	border-left-color: #d6d6d6;
	border-top-color: #d6d6d6
}
.cdEffect {
	background: #fff
}