html, 
body, 
.bbp-breadcrumb, 
.jp-playlist, 
.events_table  {
	text-align: right;
	direction: rtl
}

.player, 
.carousel, 
.likes_dislikes {
	direction: ltr
}

.logo, 
.sf-menu li, 
.copyright, 
.grid_1, .grid_2, .grid_3, 
.grid_4, .grid_5, .grid_5_col, 
.grid_6, .grid_7, .grid_8, 
.grid_9, .grid_10, .grid_11, 
.grid_12, 
.woocommerce #content div.product div.images, 
.woocommerce div.product div.images, 
.woocommerce-page #content div.product div.images, 
.woocommerce-page div.product div.images, 
.woocommerce #content div.product div.thumbnails a, 
.woocommerce div.product div.thumbnails a, 
.woocommerce-page #content div.product div.thumbnails a, 
.woocommerce-page div.product div.thumbnails a, 
.woocommerce div.product form.cart div.quantity, 
.woocommerce nav.woocommerce-pagination ul li, 
.woocommerce-pagination ul, 
.page-content .has_cover, 
.track_details, 
.social a, 
.commentlist .comment-author, 
.commentlist .comment-meta, 
.commentlist .comment-awaiting-moderation, 
.wpcf7-submit, 
.post_types label, 
.flickr-widget .flickr_badge_image, 
.cd_gallery_in a, 
.instagram-pics li, 
.cd_instagram li, 
.tabs-nav a, 
.share-input label, 
.has_cover {
    float: right
}

.sf-menu, 
#toTop, 
.foot-menu, 
.little-head, 
header .popup_link, 
.cart_head, 
header .social, 
header .search, 
.likes_dislikes, 
.woocommerce .woocommerce-error .button, 
.woocommerce .woocommerce-info .button, 
.woocommerce .woocommerce-message .button, 
.popup_share, 
.post_types input, 
.has_cover_content {
    float: left
}

.omega {
    margin-right: 1%;
    margin-left: 0
}
.alpha {
    margin-left: 1%;
    margin-right: 0
}
.righter.alpha {
    margin-right: 1%;
    margin-left: 0
}
.righter.omega {
    margin-right: 0;
    margin-left: 1%
}
.lefter.alpha {
    margin-right: 0;
    margin-left: 1%
}
.lefter.omega {
    margin-right: 1%;
    margin-left: 0
}

header .social, 
header .popup_link {
    margin: 0 20px 0 0
}
.cart_head {
    margin: 0 15px 0 0;
    padding: 0 10px 0 20px
}
header .search button, 
.search_opt {
	top: 7px;
    right: auto;
    left: 12px
}
.search_opt {
    right: auto;
    left: 30px
}
.post_types {
    right: auto;
    left: 0
}
.post_types:before {
    left: 26px;
    right: auto
}

.sf-menu {
    text-align: right;
    margin: 26px -20px 0 0
}
.sf-menu li i {
    padding: 0 6px 0 0
}
.sf-menu li li i {
    transform: rotate(180deg);
    right: auto;
    left: 2px
}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
    left: auto;
    right: 172px
}
.sf-menu a {
    padding: 0 0 30px 40px
}

.events_table td {
	padding: 0 10px 14px
}
.sf-menu .sub-menu a:hover:before, 
.sf-menu > li li:hover > a:before, 
.sf-menu .current-menu-parent .current_page_item > a:before, 
.sf-menu li .current_page_parent > a:before, 
.sf-menu li li.child_menu_item > a:before {
    transform: rotate(180deg);
    left: auto;
    right: 12px
}
.sf-menu li li:hover > a, 
.sf-menu li li > a:hover, 
.sf-menu .current-menu-parent .current_page_item > a, 
.sf-menu li .current_page_parent > a, 
.sf-menu li li.child_menu_item > a {
    padding-left: 0;
    padding-right: 22px
}
.countdown li {
	margin: 0 0 0 10px
}
.countdown li:last-child {
	margin: 0
}

.jp-playlist .buytrack {
    right: auto;
    left: 0
}
.jp-playlist .buytrack a {
    margin: 0 10px 0 0
}
.fa-play {
	margin: 0 0 0 4px;
	transform: rotate(180deg)
}
.jp-play .fa-play {
	margin: 0;
    transform: rotate(0deg)
}
.added_check {
	right: -10px;
	left: auto
}
.ajax_player .jp-playlist-item-remove {
    left: auto;
    right: -8px
}
.played .jp-playlist-current:before {
    left: auto;
    right: 12px
}
.played .jp-playlist-current {
    padding: 0 34px 0 0
}
.jp-playlist-item {
    padding: 0 10px 0 0
}

.cdEffect h3 {
    text-align: right;
    right: 20px;
    left: auto
}
.cdEffect i, 
.cdEffect:hover h3,
.classic .cdEffect:hover i {
	left: auto;
    right: 30px
}
.sf-menu li li a span {
    position: absolute;
    right: auto;
    left: 0
}
.slick-arrow {
    right: auto;
    left: 20px
}
.slick-prev {
    left: 0;
    right: auto;
}

.event_date {
	float: right;
	margin: 0 0 0 5%
}

#toTop i {
    padding: 2px 0 0 0
}
.classic a {
	margin: 0 0 0 20px
}
.classic h3 a {
	margin: 0
}
ul.page-numbers {
    margin: 20px 0 0 0;
}

.mi { margin-right: 0 !important;margin-left: 4px !important }
.mid { margin-right: 0 !important;margin-left: 8px !important }
.mid { margin-right: 0 !important;margin-left: 16px !important }
.mii { margin-left: 0 !important;margin-right: 4px !important }
.miid { margin-left: 0 !important;margin-right: 8px !important }
.miidd { margin-left: 0 !important;margin-right: 16px !important }
.fll {
    float: right;
    margin: 0 0 10px 20px
}
.flr {
    float: left;
    margin: 0 20px 10px 0
}
q, blockquote, .blockquote {
	border-left: 0;
	border-right: 5px solid #E6E6E6
}

.products .product .star-rating {
    right: auto;
    left: 10px
}
.summary.entry-summary {
    margin: 0px 16px 0 0
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    margin: 0 -2px
}
.add_to_cart_button {
    left: auto !important;
    right: 10px !important;
    margin: 0 !important
}
.products .product .add_to_cart_button, 
.sf-menu li li > a:after {
    left: auto;
    right: 0
}
.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product, 
.woocommerce-page.columns-3 ul.products li.product, 
.woocommerce.columns-3 ul.products li.product {
    float: right;
    margin: 0 0 2.992em 3%
}
#bbpress-forums li {
    text-align: right
}
.item_small .cdEffect {
	float: right;
	margin: 0 0 0 15px
}
.tagcloud a {
	margin: 0 0 5px 2px
}
.avatar-25 {
	float: right;
	margin: 0 0 0 8px
}
.author_avatar {
	float: right;
	margin: 0 0 0 15px
}
.comment-body .likes_dislikes, 
#cancel-comment-reply-link, 
.list-custom-taxonomy-widget li span, 
.widget_archive li span, 
.widget_pages li span, 
.widget_meta li span, 
.widget_nav_menu li span, 
.widget_categories li span {
	right: auto;
	left: 0
}
.commentlist .avatar {
	left: auto;
	right: -50px
}
.commentlist li.bypostauthor > .comment-body:after, 
.commentlist li.comment-author-admin > .comment-body:after {
	left: auto;
	right: -26px
}
.commentlist li {
	padding: 0 50px 0 0
}
.commentlist li li {
	padding: 0 20px 0 0
}
.commentlist .comment-meta:before {
	margin: 0 0 0 3px
}
input:not([type="submit"]), textarea {
	display: initial
}
.widget_rss_subscription button {
	right: auto;
	left: 12px
}
.cs-element .cs-title {
	float: right !important
}
.cs-element .cs-fieldset {
    margin: 0 30% 0 0
}

.classic .Rmore {
    left: -12px;
    right: auto;
    bottom: 30px
}
