/*
	Theme Name: 	Remix
	Theme URI: 		http://themeforest.net/user/Codevz
	Description: 	Premium Music, Party, Nightlife, Band, Artist Theme
	Version: 		3.4
	Author: 		Codevz
	Author URI: 	http://codevz.com
	Text Domain: 	remix
	License:		GPLv2
	License URI:	http://www.gnu.org/licenses/gpl-2.0.html
	Tags:			one-column, two-columns, right-sidebar, custom-menu, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, img {
	display: block
}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
* {
	outline: none;
	padding: 0;
	margin: 0
}
body {
	height: auto;
	margin: 0 auto;
	background: #111;
	color: #C2C2C2;
	line-height: 24px;
	font-family: "Tahoma", Helvetica, Arial;
	font-size: 12px
}
::selection {
	color: #fff;
	background: #FF0078
}
::-moz-selection {
	color: #fff;
	background: #FF0078
}
img {
	border: none;
	max-width: 100%;
	height: auto;
	border-radius: 2px
}
a {
	color: #fff;
	text-decoration: none;
	transition: all 400ms ease
}
a:hover {
	color: #FF0078
}
a[disabled] {
    pointer-events: none
}
h1, h2, h3, h4, h5, h6 {
	color: #fff;
	margin: 0 0 10px 0;
	font-family: "Oswald", Tahoma, Arial;
	font-weight: bold;
	line-height: 1.2em;
	text-transform: uppercase
}
h1 { font-size: 40px }
h2 { font-size: 32px }
h3 { font-size: 20px }
h4 { font-size: 18px }
h5 { font-size: 14px }
h6 { font-size: 12px }
p {
	margin-bottom: 30px;
	-ms-word-wrap: break-word;
	word-wrap: break-word
}
p:last-child {
	margin-bottom: 0
}
strong {
	font-weight: 700;
	display: inline-block
}
em {
	font-style: italic;
	font-weight: 100
}
ol, ul {
	padding: 0;
	margin: 0;
	list-style-type: none
}
ol li {
	list-style: decimal;
	padding: 0 0 10px 0;
	margin: 0 0 0 20px
}
cite {
	color: #C9C9C9;
	font-size: 12px;
	font-weight: 100;
	font-style: italic;
	margin: 20px 0 0;
	display: block;
	float: none;
}
hr {
	background: rgba(167, 167, 167, 0.1);
	border: 0;
	clear: both;
	width: 100%;
	height: 1px;
	padding: 0;
	margin: 20px 0;
	border-radius: 2px;
	position: relative
}
article {
	position: relative
}
iframe {
	max-width: 100%;
}
mark {
	padding: 3px 5px;
}
video {
	width: 100%;
	height: auto
}

/* Grid */
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_5_col,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
}
.alpha {margin-left: 0}
.omega {margin-right: 0}
.grid_1 {width:6.333%}
.grid_2 {width:14.667%}
.grid_3 {width:23.0%}
.grid_4 {width:31.333%}
.grid_5 {width:39.667%}
.grid_5_col {width:18%}
.grid_6 {width:48.0%}
.grid_7 {width:56.333%}
.grid_8 {width:64.667%}
.grid_9 {width:73.0%}
.grid_10 {width:81.333%}
.grid_11 {width:89.667%}
.grid_12 {width:100%;margin: 0}
.grid_12:after {
	content: "";
	clear: both;
}
.grid_1.alpha,.grid_1.omega {
	width:7.333%;
}
.grid_2.alpha,.grid_2.omega {
	width:15.667%;
}
.grid_3.alpha,.grid_3.omega {
	width:24.0%;
}
.grid_4.alpha,.grid_4.omega {
	width:32.333%;
}
.grid_5.alpha,.grid_5.omega {
	width:40.667%;
}
.grid_5_col.alpha,.grid_5_col.omega {
	width:18.4%;
}
.grid_6.alpha,.grid_6.omega {
	width:49.0%;
}
.grid_7.alpha,.grid_7.omega {
	width:57.333%;
}
.grid_8.alpha,.grid_8.omega {
	width:65.667%;
}
.grid_9.alpha,.grid_9.omega {
	width:74.0%;
}
.grid_10.alpha,.grid_10.omega {
	width:82.333%;
}
.grid_11.alpha,.grid_11.omega {
	width:90.667%;
}
.grid_12.alpha,.grid_12.omega {
	width:100%;margin: 0
}
.row {
	width: 1060px;
	margin: 0 auto;
	position: relative;
}
#layout {
	position: relative
}
.boxed {
	margin: 0 auto;
	width: 1140px;
	background: #000;
	position: relative;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)
}
.boxed-margin {
	margin: 30px auto;
	width: 1140px;
	background: #000;
	position: relative;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)
}
.full {
	width: 100%;
	margin: 0 auto
}
.left_sidebar .posts {
	float: right
}

/* Clear */
.clr:before,
.clr:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}
.clr:after {
	clear: both
}

/* Ajax posts */
.load_more {
	margin: 10px auto 0;
	display: inline-block;
	text-align: center;
	width: 100%
}
.no_more a {
    cursor: no-drop;
	opacity: .2;
	filter: alpha(opacity=20); 
	background-color: #4e5760
}
@-webkit-keyframes AjaxSpinner {
    0% {
        -webkit-transform-origin: center;
        -webkit-transform: none;
        border-top-color: #db6b93
    }

    20% {
        -webkit-transform-origin: center;
        -webkit-transform: rotate3d(0,0,1,-72deg);
        border-top-color: #3A9FF0
    }

    40% {
        -webkit-transform-origin: center;
        -webkit-transform: rotate3d(0,0,1,-144deg);
        border-top-color: #F1C40F
    }

    60% {
        -webkit-transform-origin: center;
        -webkit-transform: rotate3d(0,0,1,-216deg);
        border-top-color: #1BCE7C
    }

    80% {
        -webkit-transform-origin: center;
        -webkit-transform: rotate3d(0,0,1,-288deg);
        border-top-color: #B24A7D
    }

    100% {
        -webkit-transform-origin: center;
        -webkit-transform: rotate3d(0,0,1,-360deg);
        border-top-color: #1ABC9C
    }
}

@keyframes AjaxSpinner {
    0% {
        transform-origin: center;
        transform: none;
        border-top-color: #db6b93
    }

    20% {
        transform-origin: center;
        transform: rotate3d(0,0,1,-72deg);
        border-top-color: #3A9FF0
    }

    40% {
        transform-origin: center;
        transform: rotate3d(0,0,1,-144deg);
        border-top-color: #F1C40F
    }

    60% {
        transform-origin: center;
        transform: rotate3d(0,0,1,-216deg);
        border-top-color: #1BCE7C
    }

    80% {
        transform-origin: center;
        transform: rotate3d(0,0,1,-288deg);
        border-top-color: #B24A7D
    }

    100% {
        transform-origin: center;
        transform: rotate3d(0,0,1,-360deg);
        border-top-color: #1ABC9C
    }
}
.AjaxSpinner {
    -webkit-animation-name: AjaxSpinner;
    animation-name: AjaxSpinner
}
@-webkit-keyframes AjaxSpinnerMono {
    0% {
        -webkit-transform-origin: center;
        -webkit-transform: none
    }

    20% {
        -webkit-transform-origin: center;
        -webkit-transform: rotate3d(0,0,1,72deg)
    }

    40% {
        -webkit-transform-origin: center;
        -webkit-transform: rotate3d(0,0,1,144deg)
    }

    60% {
        -webkit-transform-origin: center;
        -webkit-transform: rotate3d(0,0,1,216deg)
    }

    80% {
        -webkit-transform-origin: center;
        -webkit-transform: rotate3d(0,0,1,288deg)
    }

    100% {
        -webkit-transform-origin: center;
        -webkit-transform: rotate3d(0,0,1,360deg)
    }
}

@keyframes AjaxSpinnerMono {
    0% {
        transform-origin: center;
        transform: none
    }

    20% {
        transform-origin: center;
        transform: rotate3d(0,0,1,72deg)
    }

    40% {
        transform-origin: center;
        transform: rotate3d(0,0,1,144deg)
    }

    60% {
        transform-origin: center;
        transform: rotate3d(0,0,1,216deg)
    }

    80% {
        transform-origin: center;
        transform: rotate3d(0,0,1,288deg)
    }

    100% {
        transform-origin: center;
        transform: rotate3d(0,0,1,360deg)
    }
}
.AjaxSpinnerMono {
    -webkit-animation-name: AjaxSpinnerMono;
    animation-name: AjaxSpinnerMono
}
.load_more a,
.preloader span {
    display: inline-block;
    border: 2px solid transparent;
    overflow: hidden;
    transition: width .7s cubic-bezier(.68,-.55,.265,1.55), border-color .3s linear, border-radius .2s linear, opacity .1s linear
}
.load_more .is_loading,
.preloader span {
	padding: 0 !important;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    border-color: #fff rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.1);
	background-color: transparent;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: AjaxSpinnerMono;
    animation-name: AjaxSpinnerMono;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear
}
.preloader span {
	width: 50px;
	height: 50px
}
.load_more img {
    display: none
}
.is_loading img {
    display: block
}
.load_more span {
    transition: all 500ms ease;
    position: relative;
    visibility: visible;
    opacity: 1
}
.load_more .is_loading span {
    opacity: 0
}
.hide-button {
	opacity: 0;
	height: 0;
	width: 0
}
.ajax-new {
	-webkit-transform: scale(.1);
	-moz-transform: scale(.1);
	transform: scale(.1)
}
.ajax-added {
	animation: scaleIn .2s ease both
}

/* Extra posts */
.classic h3 {
	margin: 0;
	font-size: 16px
}
.classic a {
	margin: 0 20px 0 0
}
.classic .Rmore {
	position: absolute;
	right: -12px;
	bottom: 30px
}
.big_post .cdEffect {
	margin: 0 !important;
	float: none !important
}
.big_post p {
	margin: 10px 0 0 !important
}
.big_post h3 {
	margin: 20px 0 0
}

/* Masonry */
.modern .posts {
	margin: 0 0 0 -20px
}
.modern .ajax-item > div {
	margin: 0 0 0 20px
}
.modern .ajax-item {
	position: relative;
	/* overflow: hidden; */
	width: 25%;
	float: left;
	margin: 0 0 20px
}
.modern .bigger {
	width: 50%
}
.modern .three_col {
	width: 33.3333333333%
}
.modern .three_col.bigger {
	width: 66.6666666667%
}
.modern .two_col {
	width: 50%
}
.modern .two_col.bigger {
	width: 100%
}
.modern .masonry-brick {
	opacity: 1
}
.modern .ajax-item .overlay {
	background: transparent url(img/gradient.png) repeat-x;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 200px;
	width: 100%;
	opacity: 1;
	content: ''
}
.modern .ajax-item .cat {
	position: absolute;
	top: 10px;
	right: 10px;
	background: rgba(0, 0, 0, 0.6);
	color: #E6E6E6;
	padding: 0 10px;
	border-radius: 2px;
	transition: all 500ms ease;
	font-weight: bold;
	font-size: 11px
}
.modern .ajax-item:hover .cat {
	background: rgba(255, 255, 255, 0.6);
	color: #000
}

.after_cover_mas .cdEffect:hover:before, 
.after_cover_mas .overlay {
	display: none !important
}
.after_cover_mas h3 {
	font-size: 20px !important;
	width: 84% !important;
	white-space: initial !important;
	position: initial !important;
	padding: 20px 15px !important
}
.after_cover_mas .cdEffect small {
	height: auto !important;
	font-size: 10px !important;
	opacity: 1 !important
}
.hide_data_mas h3 {
	display: none !important
}

/* Header */
#header {
	position: relative;
	z-index: 99;
	width: 100%;
	background: rgba(0, 0, 0, 0.8)
}
.under_header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0
}
.under_header img {
	width: 100%;
	margin: 0 auto
}
.back_to_up {
	margin: -180px 0 40px !important
}
.little-head {
	float: right;
	padding: 10px 0 8px;
	border-bottom: 1px solid rgba(167, 167, 167, 0.1)
}
header .popup_link {
	float: right;
	margin: 0 0 0 20px
}
.header_2 .little-head,
.header_2 .logo,
.header_2 .sf-menu {
	float: none;
	margin: 0 auto;
	display: table
}
.header_3 .logo {
	float: left
}
.header_3 .sf-menu {
	float: left;
	margin: 0
}
.header_4 .sf-menu, 
.header_4 #login, 
.header_4 .popup_link, 
.header_4 .search, 
.header_4 .cart_head, 
.header_4 .social, 
.fullscreen_menu, 
.fullscreen_menu_on {
	display: none
}
.header_4 .sf-menu li li:hover > a, 
.header_4 .sf-menu li li > a:hover, 
.header_4 .sf-menu .current-menu-parent li.current_page_item a, 
.header_4 .sf-menu li li.current a {
	background: none
}
.fullscreen_menu_on .social, 
.fullscreen_menu_on .sf-menu {
	display: block !important;
	float: none;
	margin: 0
}
.header_4 .full_menu {
	float: right;
	font-size: 24px;
	margin: 14px 0;
	cursor: pointer;
	color: #fff
}
.fullscreen_menu_on {
	text-align: center;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0
}
.fullmenu_inner {
	width: 330px;
	display: block;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0
}
.fullscreen_menu_on .sf-menu li {
    float: none
}
.fullscreen_menu_on .social a {
    float: none;
    display: inline-block;
	margin: 50px 5px 0
}
.fullscreen_menu_on .sf-menu a {
    padding: 0 0 40px 0;
    text-align: center;
    font-size: 34px
}
.fullscreen_menu_on .sf-menu ul {
	position: static;
	padding: 0 !important;
	width: 100%
}
.fullscreen_menu_on .sub-menu {
	margin: 0 0 30px
}
.fullscreen_menu_on .sf-menu li li, 
.fullscreen_menu_on .sf-menu li li a:hover, 
.fullscreen_menu_on .sf-menu li li:hover {
	background: none;
	border: 0
}
.fullscreen_menu_on .sf-menu li li a {
	font-size: 24px
}

/* Sticky */
.ONsticky {
	position: fixed !important;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 1000;
	top: 0;
	width: 100%;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: top .4s ease, background .4s ease, height .3s linear
}
.ONsticky .row {padding: 0 45px}
.full .ONsticky {
	width: 100%;
	left: 0
}
.page-template-page-onepage .is_sticky, 
.smart_off {
	top: 0 !important
}
.admin-bar .ONsticky {
	top: 32px !important
}
.overlay_header {
	position: relative
}

/* Buttons */
.button,
.page-numbers a,
.page-numbers span,
.pagination a,
.pagination > b,
.widget_product_search #searchsubmit,
.post-password-form input[type="submit"], 
.wpcf7-submit, 
.submit_user, 
#commentform #submit {
	font-family: "Oswald", Tahoma, Helvetica;
	display: inline-block;
	position: relative;
	padding: 0 12px;
	color: #fff;
	background: #ff0078;
	border-radius: 2px;
	white-space: nowrap;
	text-transform: uppercase;
	border: 1px solid rgba(0,0,0,0.1);
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	cursor: pointer;
	background-image: linear-gradient(bottom, rgba(0,0,0,0.08) 0%, rgba(128,128,128,0.08) 50%, rgba(255,255,255,0.08) 100%);
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.08) 0%, rgba(128,128,128,0.08) 50%, rgba(255,255,255,0.08) 100%);
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.08) 0%, rgba(128,128,128,0.08) 50%, rgba(255,255,255,0.08) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.08) 0%, rgba(128,128,128,0.08) 50%, rgba(255,255,255,0.08) 100%);
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.08) 0%, rgba(128,128,128,0.08) 50%, rgba(255,255,255,0.08) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgba(0,0,0,0.08)),color-stop(0.5, rgba(128,128,128,0.08)),color-stop(1, rgba(255,255,255,0.08)));
	box-shadow: inset 0 0 1px rgba(0,0,0,0.1);
	transition: all 300ms ease
}
button,
input[type="submit"] {
	line-height: 30px
}
.button:hover,
.page-numbers a:hover,
.page-numbers span,
.pagination a:hover,
.pagination > b,
.widget_product_search #searchsubmit:hover,
.post-password-form input[type="submit"]:hover, 
.wpcf7-submit:hover, 
.submit_user:hover, 
#commentform #submit:hover {
	color: #fff;
	opacity: .6
}
.button.small {
	font-size: 12px
}
.button.medium {
	font-size: 14px;
	padding: 4px 18px
}
.button.large {
	font-size: 16px;
	padding: 6px 20px
}
.button.xlarge {
	font-size: 18px;
	padding: 8px 22px
}
.button.xxlarge {
	font-size: 20px;
	padding: 10px 24px
}
.buttom img {
	padding: 10px 18px
}
.page-numbers {
	margin: 12px 0 0
}
.page-numbers li {
	display: inline-block;
	margin: 0 2px 0 0
}

/* Logo */
.logo {
	float: left;
	margin: 16px 0
}
.is_text {
	margin: 30px 0 0
}

/* Social */
.social a {
	float: left;
	text-align: center;
	margin: 0 4px 0;
	width: 26px;
	height: 26px;
	border-radius: 2px;
	color: #ddd
}
header .social {
	float: right;
	margin: 0 0 0 20px
}
.widget .social {
	margin: -6px 0 0 -6px
}
.widget .social a {
	margin: 6px 0 0 6px
}
.social a:hover {
	color: #fff
}
.social a i {
	padding: 6px 0;
	display: block;
	font-size: 14px;
	border-radius: 2px;
	transition: all 500ms ease
}
.circular a i {
	border-radius: 100%
}
.fixed_left, 
.fixed_right {
	position: fixed;
	left: 0;
	top: 30%;
	margin: 0 !important
}
.fixed_right {
	left: auto;
	right: 0
}
.fixed_left a, 
.fixed_right a {
	float: none;
	display: block;
	margin: 0 0 0 -6px;
	width: 56px;
	height: 36px;
	border-radius: 0
}
.fixed_left a:hover {
	margin: 0
}
.fixed_right a {
	margin: 0 -6px 0 0
}
.fixed_right a:hover {
	margin: 0 0 0 -6px
}
.fixed_left a i, 
.fixed_right a i {
	padding: 11px 0;
	display: block;
	font-size: 14px;
	border-radius: 0
}
.colored a i {border: none !important}
.social a:hover i { background: #fff;color:#000 }
.colored a:hover i { background: transparent; color: #fff  }
.social a:hover i { background: #000; color:#fff }
.social a:hover .fa-twitter, .colored a .fa-twitter { background: #00abdc }
.social a:hover .fa-facebook, .colored a .fa-facebook { background: #325c94 }
.social a:hover .twitch, .colored a .twitch { background: #6441a5 }
.social a:hover .fa-dribbble, .colored a .fa-dribbble { background: #fa4086 }
.social a:hover .fa-rss, .colored a .fa-rss { background: #f1862f }
.social a:hover .fa-github, .colored a .fa-github { background: #333 }
.social a:hover .fa-instagram, .colored a .fa-instagram { background: #964b00 }
.social a:hover .fa-linkedin, .colored a .fa-linkedin { background: #0073b2 }
.social a:hover .fa-pinterest, .colored a .fa-pinterest { background: #d9031f }
.social a:hover .fa-google-plus, .colored a .fa-google-plus { background: #d9031f }
.social a:hover .fa-foursquare, .colored a .fa-foursquare { background: #0cbadf }
.social a:hover .fa-skype, .colored a .fa-skype { background: #00b9e5 }
.social a:hover .fa-soundcloud, .colored a .fa-soundcloud { background: #ff7700 }
.social a:hover .fa-youtube, .colored a .fa-youtube { background: #d9031f }
.social a:hover .fa-tumblr, .colored a .fa-tumblr { background: #325c94 }
.social a:hover .fa-star, .colored a .fa-star { background: #F8AC24}
.social a:hover .fa-flickr, .colored a .fa-flickr { background: #fa4086 }
.social a:hover .fa-spotify, .colored a .fa-spotify { background: #88BD32 }
.social a:hover .fa-weibo, .colored a .fa-weibo { background: #E64141 }
.social a:hover .fa-yahoo, .colored a .fa-yahoo { background: #2D1152 }
.social a:hover .fa-behance, .colored a .fa-behance { background: #1769FF }
.social a:hover .fa-deviantart, .colored a .fa-deviantart { background: #87B946 }
.social a:hover .fa-digg, .colored a .fa-digg { background: #000 }
.social a:hover .fa-reddit, .colored a .fa-reddit { background: #FF4500 }
.social a:hover .fa-vimeo-square, .colored a .fa-vimeo-square, .social a:hover .fa-vimeo, .colored a .fa-vimeo { background: #1ab7ea }

/* Navigation */
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none
}
.sf-menu {
	font-family: 'Oswald', Tahoma;
	line-height: 1.0;
	float: right;
	padding: 0;
	position: relative;
	margin: 26px 0 0 -20px;
	font-size: 14px
}
header .full_menu {
	float: right;
	position: relative;
	margin: 26px 0 0;
	cursor: pointer;
	font-size: 20px
}
.sf-menu ul {
	position: absolute;
	top: -999em;
	width: 172px
}
.sf-menu ul li { 
	width: 100%;
	margin: 0;
	padding: 10px 0
}
.sf-menu li:hover {
	visibility: inherit
}
.sf-menu li {
	float: left;
	position: relative;
	padding: 0
}
.sf-menu a {
	padding: 0 40px 30px 0;
	display: block;
	position: relative;
	color: #fff;
	text-transform: uppercase
}
.sf-menu li:hover > a, 
.sf-menu li > a:hover, 
.sf-menu > .selectedLava > a, 
.page-template-page-onepage .sf-menu li.current a {
	color: #ff0078
}
.sf-menu li li {
	margin:0;
	padding: 0;
	transition: all 500ms ease
}
.sf-menu li li a {
	font-size: 12px;
	font-family: "Tahoma", Helvetica, Arial;
	font-weight: normal;
	padding: 6px 0;
	line-height: 18px;
	color: #fff;
	text-transform: none;
	letter-spacing: 0
}
.sf-menu .sub-menu a:before {
	font-family: FontAwesome;
	content: "\f0da";
	font-size: 14px;
	display: block;
	position: absolute;
	left: -5px;
	margin: 1px 0 0;
	opacity: 0;
	border: 0;
	transform: scale(0, 0);
	transition: all 500ms ease
}
.sf-menu .sub-menu a:hover:before, 
.sf-menu > li li:hover > a:before, 
.sf-menu .current-menu-parent .current_page_item > a:before, 
.sf-menu li .current_page_parent > a:before, 
.sf-menu li li.child_menu_item > a:before {
	border: 0;
	transform: scale(1, 1);
	left: 12px;
	opacity: 1
}
.sf-menu li li:hover > a, 
.sf-menu li li > a:hover, 
.sf-menu .current-menu-parent .current_page_item > a, 
.sf-menu li .current_page_parent > a, 
.sf-menu li li.child_menu_item > a {
	color: #fff;
	padding-left: 22px
}
.sf-menu li li > a:after {
	content: close-quote;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #FF0078;
	transition: all 200ms ease
}
.sf-menu li li:hover > a:after, 
.sf-menu li li > a:hover:after, 
.sf-menu .current-menu-parent .current_page_item > a:after, 
.sf-menu li .current_page_parent > a:after, 
.sf-menu li li.child_menu_item > a:after {
	z-index: -1;
	width: 100%
}
.sf-menu li a span {
	font-size: 12px;
	font-family: tahoma;
	font-weight: normal;
	text-transform: none;
	display: block;
	color: rgba(167, 167, 167, 0.9);
	margin: 10px 0 0 0
}
.sf-menu li li a span {
	background: #FF0078;
	color: #fff;
	padding: 0 6px;
	border-radius: 2px;
	font-size: 10px;
	display: inline-block;
	margin: 0 0 0 8px;
}
.sf-menu ul ul:before {
	position: absolute;
	width: 0 !important; 
	padding: 0 !important; 
	margin: 0 !important; 
	height: 0 !important;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #fff;
	left: 0;
	top: 0
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left: 0;
	z-index: 99;
	top: 65px;
    padding: 15px 20px;
    background: rgba(0, 0, 0, 0.8)
}
.cd_no_sub li:hover ul,
.cd_no_sub li.sfHover ul {
	top: 32px
}
.sf-menu li:hover ul li ul,
.sf-menu li.sfHover ul li ul, 
.sf-menu li:hover ul li ul li ul,
.sf-menu li.sfHover ul li ul li ul  {
	left: 172px;
	z-index: 999;
	top: -22px
}
.sf-menu li:hover li ul,
.sf-menu li.sfHover li ul {
	top: -999em
}
.sf-menu li li:hover ul,
.sf-menu li li.sfHover ul {
	left: 172px;
	top: -22px
}
.sf-menu li li:hover li ul,
.sf-menu li li.sfHover li ul {
	top: -999em
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	outline: 0
}

/*** arrows **/
.sf-menu .sf-with-ul { min-width: 1px }
.sf-menu li i { 
	padding: 0 0 0 6px
}
.sf-menu li li i { 
    position: absolute;
    right: 10px;
    top: 8px
}
.sf-menu li.back {
	position: absolute;
	padding: 0 !important; 
	margin: 0 !important; 
	bottom: 0;
	height: 2px !important;
	overflow: inherit !important
}
.sf-menu .back .left {
	position: absolute;
	padding: 0 !important; 
	margin: 0 !important; 
	height: 2px !important;
	width: 100% !important;
	background: #ff0078
}

/* Forms */
input:not([type="submit"]), 
textarea {
	width: 100%;
	color: #222;
	background: #fff;
	border-radius: 2px;
	display: block;
	border: 1px solid rgba(167, 167, 167, 0.2);
	box-shadow: none;
	box-sizing: border-box;
	transition: all 500ms ease
}
input:not([type="submit"]) {
	padding: 0 12px;
	line-height: 24px;
	height: 34px;
}
textarea {
	padding: 10px
}
textarea:focus, 
input:focus {
	border-color: #FF0078
}

/* Popup */
.popup form {
	position: relative;
}
.popup_link .avatar {
	border-radius: 100%;
	display: inline-block;
	width: 26px;
	vertical-align: bottom
}
.forgot-form, 
.register-form {
	display: none
}
#login_form a:first-child {
	margin: 0 10px 0 0
}
.lost_pass {
	display: list-item;
	color: #858585;
	margin-left: 18px
}
.popup input {
	margin: 0 0 10px 0
}
.login_load {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	color: #fff;
	z-index: 999;
	font-size: 24px;
	background: rgba(34, 34, 34, 0.39)
}
.popup svg, 
#login_form i {
	position: relative;
	top: 50px
}
.error {
	display: none;
	background: #E45E5E;
	color: #de5959;
	background: #ffe9e9;
	border: 1px solid #fbc4c4;
	padding: 8px 20px;
	margin: 10px 0;
	font-size: 1em;
	border-radius: 2px;
	box-sizing: border-box
}
.error {
	margin: 0 0 16px;
	font-size: 12px;
	animation-delay: .2s;
	-webkit-animation-name: ButtonShake;
	animation-name: ButtonShake;
	-webkit-animation-iteration-count: 4;
	-webkit-animation-duration: 6s;
	animation-duration: 6s
}
@-webkit-keyframes ButtonShake {
	2%, 6%     {-webkit-transform: translateX(12px); }
	4%, 8%     {-webkit-transform: translateX(-12px); }
	10%, 100%  {-webkit-transform: translateX(0px); }
}
@keyframes ButtonShake {
	2%, 6%     {transform: translateX(12px); }
	4%, 8%     {transform: translateX(-12px); }
	10%, 100%  {transform: translateX(0px);}
}

header .search {
	position: relative;
	float: right;
	margin: 0
}
header .search form {
	position: relative
}
header .search input {
	margin: 1px 0;
	padding: 0 12px;
	border: 0;
	color: #8C8C8C;
	background: #353535;
	background: rgba(167, 167, 167, 0.2);
	border-radius: 20px;
	font-size: 11px;
	cursor: default;
	width: 170px;
	height: 24px;
	box-sizing: border-box;
	transition: all 300ms ease
}
header .search input:focus {
	width: 180px;
	background: #fff;
	color: #111
}
header .search button, 
.search_opt {
	position: absolute;
	top: 5px;
	right: 12px;
	background: none;
	border: 0;
	color: #8c8c8c;
	font-size: 11px;
	cursor: pointer;
	line-height: 1
}
.search_opt {
	font-size: 11px !important
}
.search_opt {
	top: 6px;
	right: 30px
}
input[type="checkbox"],
input[type="radio"],
header .search input[type="checkbox"] {
	width: inherit;
	height: inherit;
	display: inline-block;
	padding: 0;
	margin: 5px 0 0 26px;
	vertical-align: middle;
	width: 16px;
	height: 16px
}
input[type="checkbox"]:focus,
input[type="radio"]:focus,
header .search input[type="checkbox"]:focus {
	width: 16px;
	height: 16px;
	color: #1B1B1B
}
.post_types {
	display: none;
	position: absolute;
	background: #111;
	color: #fff;
	border: 1px solid #222;
	z-index: 2;
	padding: 20px;
	right: 0;
	top: 34px
}
.post_types label {
	float: left;
	margin: 0 0 6px
}
.post_types input {
	float: right
}
.ajax_search_results {
	display: none;
	position: absolute;
	background: #111;
	color: #969696;
	border: 1px solid #222;
	border-radius: 2px;
	z-index: 2;
	width: 220px;
	left: 0;
	top: 34px
}
.ajax_search_results:before, 
.post_types:before {
	content: no-close-quote;
	width: 12px;
	height: 12px;
	display: block;
	position: absolute;
	top: -7px;
	left: 20px;
	border: 1px solid transparent;
	border-left-color: #222;
	border-top-color: #222;
	transform: rotate(45deg)
} 
.post_types:before {
	left: auto;
	right: 26px	
}
.ajax_search_results .item_small {
	padding: 12px 0;
	margin: 0 !important
}
.ajax_search_results .item_small:first-child {
	padding-top: 16px
}
.ajax_search_results .va_results {
	display: block;
	text-align: center;
	padding: 6px 0;
	font-size: 11px;
	border-top: 1px solid #222
}
.ajax_search_results .cdEffect {
    margin: 0 12px 0 !important;
    width: 50px !important;
    height: 50px !important
}
.ajax_search_results .item-details {
	margin: 0 12px 0
}
.ajax_search_results h3 {
    font-size: 12px !important;
    font-weight: 400;
    line-height: 18px !important;
    text-transform: capitalize
}
.ajax_search_results span {
	font-size: 11px
}
.ajax_search_results h5 {
	display: block;
	padding: 4px 12px;
	margin: 0;
	font-weight: 400;
	z-index: 2;
	position: relative;
	background: #1D1D1D
}

/* Widget */
.searchform {
	position: relative
}
.searchform button {
	background: none;
	border: 0;
	outline: none;
	position: absolute;
	top: 7px;
	right: 16px;
	color: #BEBEBE;
	cursor: pointer;
	transition: all 500ms ease
}
.widget_rss_subscription {
	position: relative
}
.widget_rss_subscription button {
	position: absolute;
	top: 2px;
	right: 12px;
	background: none;
	border: 0;
	color: #8C8C8C;
	font-size: 16px;
	cursor: pointer
}

/* Remix player */
.player_popup #layout {
	width: 95%;
	margin: 0;
	padding: 20px 2.5%
}
.player_popup .popup_player,
.jp-jplayer,
.original_player,
.jp-artist,
.jp-shuffle,
.jp-playlist-item-remove, 
.jp-pause,
.jp-duration, 
.jp-no-solution, 
.jp-playlist img, 
.jp-playlist .buytrack a:first-child, 
.paused .jp-playlist-current:before {
	display: none
}
.player_popup .original_player {
	display: inline-block
}
.jp-audio, 
.player, 
.jp-type-playlist {
	width: 100%;
	margin: 0;
	position: relative
}
.has_cover_content {
	width: 65%;
	float: right
}
.has_cover {
	position: relative;
	display: block;
	width: 180px;
	float: left
}
.grid_6 .has_cover, 
.vc_col-sm-6 .has_cover {
	width: 132px
}
.has_cover img {
	border-radius: 2px;
	background: #252525;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: transparent
}
.jp-playlist ul {
	margin: 0;
	padding: 4px 18px;
	overflow: hidden
}
.jp-interface {
	margin: 0 0 12px;
	height: 38px;
	border-radius: 2px;
	background: rgba(0, 0, 0, 0.4)
}
a.jp-playlist-item, 
.playable {
	position: relative;
	display: block;
    white-space: nowrap;
	min-width: 40%;
	width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
	transition: all 500ms ease
}
.jp-playlist-item span, 
.playable span {
	font-size: 11px;
	opacity: .5
}
.played .jp-playlist-current i {
    display: none
}
.played .jp-playlist-current:before {
	content: no-close-quote;
	background: rgba(0, 0, 0, 0) url(img/play.gif) no-repeat 0 0 scroll;
	position: absolute;
	bottom: 5px;
	margin: 0;
	left: 0;
	display: inline-block;
	height: 16px;
	width: 16px
}
.played .jp-playlist-current {
	padding-left: 24px
}
.jp-share {
	box-shadow: 0 0 20px rgba(17, 17, 17, 0.2);
	background: #1B1B1B;
	padding: 30px 60px;
	margin: 5px
}
.jp-playlist .buytrack {
	padding: 0;
	display: inline-block;
	position: absolute;
	top: 6px;
	right: 0;
	font-size: 14px;
	text-align: center
}
.jp-playlist .buytrack a {
	color: #A0A0A0;
	margin: 0 0 0 10px
}
.jp-repeat, 
.jp-repeat-off {
	cursor: pointer;
	position: absolute;
	color: #fff;
	right: 18px;
	top: 6px
}
.jp-repeat i, 
.jp-repeat-off i {
	font-size: 14px;
	display: inline-block;
	text-align: center;
	opacity: 0.5;
	transition: all 500ms ease
}
.jp-repeat-off i {
	opacity: 1
}
.jp-mute,
.jp-unmute {
	cursor: pointer;
	position: absolute;
	color: #fff;
	right: 42px;
	top: 6px
}
.jp-mute i, 
.jp-unmute i {
	font-size: 14px;
	display: inline-block;
	text-align: center;
	opacity: 1;
	transition: all 500ms ease
}
.jp-unmute i {
	opacity: 0.5
}
.jp-previous, 
.jp-next {
	position: absolute;
	left: 18px;
	top: 6px;
	color: #fff;
	transition: all 500ms ease
}
.jp-next {
	left: 71px
}
.jp-previous i, 
.jp-next i {
	font-size: 12px
}
.jp-play:hover, 
.jp-pause:hover, 
.jp-next:hover, 
.jp-previous:hover {
	cursor: pointer;
	opacity: .5
}
.jp-play, 
.jp-pause {
	position: absolute;
	left: 31px;
    top: 1px;
	transition: all 500ms ease
}
.jp-play i, 
.jp-pause i {
    font-size: 14px !important;
    display: inline-block;
    color: #222;
    background: #FFF;
    padding-left: 3px;
    width: 31px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 100%
}
.jp-pause i {
	padding-left: 1px;
	width: 33px
}
.jp-current-time, 
.jp-duration {
	cursor: pointer;
	right: 64px;
	position: absolute;
	top: 6px
}
.jp-progress {
	float: left;
	position: relative;
	display: block;
	width: 65%;
	height: 9px;
	left: 94px;
	background-color: rgba(167, 167, 167, 0.14);
	margin: 14px 0 0 0;
	border-radius: 2px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}
.jp-seek-bar {
	height: 9px;
	width: 135px;
	cursor: pointer;
	border-radius: 2px;
	transition: all 500ms ease
}
.jp-play-bar {
	position: relative;
	height: 9px;
	border-radius: 2px;
	width: 60%;
	background: #FF0078;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	z-index: 1
}
.jp-play-bar:before {
	content: no-close-quote;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 9px;
	z-index: 1;
	background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0, 0, 0, 0.4)), color-stop(1, rgba(0, 0, 0, 0)));
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%); 
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
}
.jp-playlist {
	position: relative;
	width: 100%;
	margin: 12px 0 0;
	padding: 0;
	/* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .15), 0 1px 0 rgba(255, 255, 255, .04); */
	border-radius: 2px;
	background: rgba(0, 0, 0, 0.4);
	font-size: 12px
}
.def-block .jp-playlist {
	box-shadow: none;
	background-color: none
}
.jp-playlist li {
	margin: 0;
	padding: 5px 0;
	position: relative;
	border-bottom: 1px solid rgba(167, 167, 167, 0.1);
	transition: all 500ms ease
}
.jp-playlist li:last-child {
	border-bottom: 0;
	box-shadow: none
}
.jp-playlist .title {
	display: inline-block;
	padding: 0 0 0 4px;
	cursor: pointer
}
li:nth-child(1n + 10) .title {
	padding-left:7px
}
.jp-playlist li, 
.jp-playlist li a {
	color: #666
}
li.played,
.jp-playlist li:hover,
.jp-playlist li:hover a,
.jp-playlist li.played a {
	color: #fff
}
.jp-audio:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0
}
.volume {
	position: relative
}
.vol {
	display: none;
	z-index: 99;
	position: absolute;
	bottom: -2px;
	right: 1px;
	width: 100px;
	height: 14px;
	border-radius: 2px;
	background: #FFF;
	cursor: default
}
.vol .jp-volume-bar, 
.vol .jp-volume-bar-value {
	display: block !important;
	cursor: pointer
}
.vol .arrow {
	position: absolute;
	width: 9px;
	height: 5px;
	bottom: -5px;
	left: 45%
}
.vol .arrow:before {
	content: no-close-quote;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 6px solid rgba(0, 0, 0, 0);
	border-right: 6px solid rgba(0, 0, 0, 0);
	border-top: 6px solid #FFF
}
.jp-volume-bar {
	display: block;
	width: 80%;
	height: 5px;
	border-radius: 2px;
	margin: 4px auto;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.14);
	transition: all 500ms ease
}
.jp-volume-bar-value {
	width: 80%;
	height: 5px;
	border-radius: 2px;
	display: block;
	background: #FF0078;
	transition: all 500ms ease
}
.track_info {
	color: #727272;
	padding: 0 18px
}
.track_details {
	float: left
}
.track_info .current_title {
	display: none
}
.popup_share {
	float: right;
	font-size: 16px
}
.share_dialog {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	border-radius: 2px
}
.share-input label {
    width: 20%;
    float: left
}
.share-input input {
    width: 80%;
    float: right
}
.close-share {
    position: absolute;
    top: 18px;
    font-size: 16px;
    right: 26px;
	cursor: pointer
}
.vc_col-sm-3 .has_cover_content,
.vc_col-sm-3 .has_cover,
.vc_col-sm-4 .has_cover_content,
.vc_col-sm-4 .has_cover,
.grid_3 .has_cover_content,
.grid_4 .has_cover_content,
.grid_3 .has_cover,
.grid_4 .has_cover {
	width: 100% !important
}
.vc_col-sm-3 .has_cover .cdEffect,
.vc_col-sm-4 .has_cover .cdEffect,
.grid_3 .has_cover .cdEffect,
.grid_4 .has_cover .cdEffect {
    width: auto;
    display: table;
    margin: 0 auto 30px;
}
.has_cover, 
.has_cover_content, 
.full_player {
	opacity: 0
}
.player > .preloader {
	display: block;
	position: absolute;
	z-index: 99;
	width: 100%;
	height: 100%
}
.player > .preloader span {
	margin: 20px auto 0;
	display: block
}
.buy_album {
	float: left;
	display: block;
	text-align: center;
	margin: 16px auto
}
@keyframes rotating {
	from { transform: rotate(0deg) }
	to { transform: rotate(360deg) }
}
.rotating {
	animation: rotating 2s linear infinite;
	width: 32px;
	height: 32px;
	border-radius: 100%;
	border: 3px solid;
	border-color: transparent;
	border-top-color: #fff;
	position: absolute;
	top: -2px;
	left: -2px
}
.added_check {
	position: absolute;
	background: #2FD059;
	left: -10px;
	padding: 0 6px;
	color: #fff;
	z-index: 1;
	font-size: 11px;
	border-radius: 2px
}
#history {
	position: relative
}
#history table {
	margin: 20px 0 0
}
#history table td {
	padding: 10px 12px;
	animation: lr 1s
}
#history table tr:nth-child(2) {
	background: rgba(167, 167, 167, 0.2)
}
#history table td:nth-child(3) {
	position: absolute;
	top: 53px;
	left: 8px;
	font-size: 12px;
	background: #151414;
	color: #fff;
	padding: 2px 16px !important;
	border: 0
}
.grid_12 #history table td:nth-child(3), 
.ajax_player #history table td:nth-child(3) {
	top: 46px;
	left: 0;
	font-size: 14px;
	padding: 10px 40px !important
}
.update_history {
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 11px;
	opacity: .3
}
#history h3 {
	display: none
}
#history .tracklist img {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px
}
#history .tracklist .tracklistInfo {
    display: inline-block;
    vertical-align: top;
    margin: 10px 0 0 15px
}
#history .tracklist .tracklistInfo p {
	margin: 0
}
#history .tracklist .tracklistInfo .artist {
    font-weight: 700
}
#history .tracklist .tracklistInfo .playing {
	position: absolute;
	right: 46px;
	top: 11px;
	font-size: 11px;
	text-transform: uppercase;
	background: #FFFFFF;
	color: black;
	padding: 0 4px
}

/* Ajax Player */
.ajax_player {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99;
	display: block;
	background: #1B1B1B;
	width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}
.ajax_player .row {
	width: 90%
}
.hide_first .player {
	display: none
}
.player_top {
	top: 0;
	bottom: auto;
}
.toggle_player {
	position: absolute;
	right: 0;
	top: -40px;
	background: #1B1B1B;
	padding: 12px 16px;
	font-size: 16px !important;
	cursor: pointer;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px
}
.player_top .toggle_player {
	top: auto;
	bottom: -40px;
    border-radius: 0;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px
}
.ajax_player .player {
	padding: 16px 0
}
.ajax_player .player,
.ajax_player .jp-interface {
	margin: 0 !important
}
.ajax_player .jp-interface {
	background: none
}
.ajax_player .has_cover {
	width: 38px
}
.ajax_player .jp-playlist-item-remove {
	display: block !important;
	font-size: 14px;
	position: absolute;
	z-index: 99;
	left: -5px
}
.ajax_player .jp-playlist {
	height: 200px;
	overflow: auto;
	display: none
}
.ajax_player .played .current_title:before,
.ajax_player .current_title b {
    left: 14px
}
.ajax_player li.played .current_title b {
    left: 38px
}
.toggle_playlist {
	position: absolute;
	top: 12px;
	right: -4px;
	font-size: 16px;
	cursor: pointer
}
.inline_tracks {
	position: relative;
}
.inline_tracks .jp-playlist {
	margin: 0
}
.inline_tracks .has_cover, 
.inline_tracks .has_cover_content, 
.inline_tracks .full_player {
	opacity: 1
}
.ajax_player .jp-playlist-item {
	padding: 0 0 0 14px
}
.ajax_player .played .jp-playlist-current {
	padding: 0 0 0 32px
}
.ajax_player .played .jp-playlist-current:before {
	left: 13px
}
.ajax_current_title {
	position: absolute;
	top: -11px;
	left: 94px;
	font-size: 11px
}
.ajax_current_title span {
	opacity: .5;
	margin: 0 10px
}
.ajax_current_title .buytrack, 
.ajax_current_title span {
	display: none
}
.ajax_current_title span:last-child {
	display: inline-block
}
.ajax_player .jp-type-playlist {
	margin-left: -15px
}
/* Ajax Preloader */
#loader {
    position: fixed;
    display: none;
    z-index: 99999;
    top: 30%;
    left: 30%
}
.scaleIn {
	opacity: 0;
	-webkit-transform: scale(.8);
	-moz-transform: scale(.8);
	transform: scale(.8);
	animation: scaleIn .6s ease both
}
.scaleOut {
	animation: scaleOut .7s ease both
}
@-webkit-keyframes scaleIn {
	to { opacity: 1; -webkit-transform: scale(1) }
}
@-moz-keyframes scaleIn {
	to { opacity: 1; -moz-transform: scale(1) }
}
@keyframes scaleIn {
	to { opacity: 1; transform: scale(1) }
}
@-webkit-keyframes scaleOut {
	to { opacity: 0; -webkit-transform: scale(.8) }
}
@-moz-keyframes scaleOut {
	to { opacity: 0; -moz-transform: scale(.8) }
}
@keyframes scaleOut {
	to { opacity: 0; transform: scale(.8) }
}

/* Content */
#page-content {
	position: relative
}
.page-content {
	margin: 0;
	padding: 40px 0
}
.action-simple {
	text-align: center;
	padding: 0 0 45px 0;
	border-bottom: 1px solid #E6E6E6
}
.action-simple h5 {
	color: #919191
}
.list {
	list-style: inherit;
	list-style-type: circle
}
.list li {
	margin: 0 0 0 16px
}
.list i {
	margin-right: 2px
}
.list .current a {
	color: #FF0078
}

/* Breadcrumbs */
.breadcrumbIn {
	background: rgba(0, 0, 0, 0.4);
	display: inline-block;
	padding: 4px 12px;
	border-radius: 2px;
	color: #C2C2C2
}
.breadcrumbIn i {
	margin: 0 5px
}
.breadcrumbIn a i {
	margin: 0
}

article,
.def-block, 
.wpb_flickr_widget, 
.vc_carousel, 
.wpb_video_widget {
	position: relative;
	padding: 30px;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 2px;
	/*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.04)*/
}
article article,
.def-block article,
article .def-block {
	padding: 0;
	border: none !important;
	background: none !important;
	box-shadow: none !important
}
article.sticky .cdEffect {
	border: 8px solid #191919 !important
}
h4.tt, h3.tt, 
.widget_gardengeneralposts h4, 
.list-custom-taxonomy-widget h4 {
	padding: 0 0 10px;
	margin: 0;
	border-bottom: 1px solid #FF0078;
	display: inline-block
}
.liner {
	display: block;
	width: 100%;
	border-bottom: 1px solid rgba(167, 167, 167, 0.1);
	margin: -1px 0 20px
}

.post_img img {
	margin: 0 auto;
	display: table
}
.post-links {
	padding: 0 0 20px;
	display: block;
	border-bottom: 1px solid #080808;
	box-shadow: 0 1px 0 rgba(34, 34, 34, 0.8);
	margin: 0 0 40px;
	width: 100%
}
.post-links a {
	margin-bottom: 0;
	font-weight: bold;
	text-transform: uppercase;
	width: 45%
}
.post-links a.flr {
	text-align: right
}
.w_hr {
	margin: 0 0 20px !important;
	padding: 0 0 20px !important;
	border-bottom: 1px solid #1A1A1A
}
.event-date, 
.event-month {
	font-family: 'Oswald', Impact, Tahoma;
	display: block;
	text-transform: uppercase
}
.event-date {
	font-size: 30px;
	color: #ff0078;
	margin-bottom: 6px
}
.event-month {
	font-size: 20px;
	color: #fff
}
.event_date {
	float: left;
	width: 30%;
	margin: 0 5% 0 0
}
.event_date img {
	border-radius: 2px
}
.single_event .buy_btn {
	font-size: 14px;
	padding: 6px 16px;
	margin: 25px auto 0
}
.single_event .free_event, 
.single_event .cancelled_event, 
.single_event .sold_out_event {
	font-size: 18px;
	cursor: default
}
.full_event .inner_ec {
	padding: 15px 0
}
.event_content {
	width: 65%;
	float: left
}
.event_content.full_event {
	width: 100%
}
.sold_out_event, 
.sold_out_event:hover,
.cancelled_event, 
.cancelled_event:hover, 
.free_event, 
.free_event:hover {
	background: none !important;
	border: 1px dotted #7E7E7E;
	color: #7E7E7E
}
.events_table {
	text-align: left
}
.events_table td {
    padding: 0 0 14px 14px
}
.events_table h4 {
    margin: 0
}

/* Next-Prev */
.next_prev a {
	position: fixed;
	overflow: hidden;
	top: 65%;
	height: 50px;
	width: 200px;
	background: rgba(167, 167, 167, 0.07);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.07);
	margin-top: -55px;
	padding: 15px;
	z-index: 999;
	transition: all 300ms ease
}
.next_prev b {
	display: block;
	color: #7C7C7C
}
.next_prev li {
	position: relative
}
.next_prev .previous a {
	left: -200px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px
}
.next_prev .previous:hover a {
	left: 0
}
.next_prev .previous img {
	float: right;
	opacity: 0
}
.next_prev img {
	border-radius: 4px;
	width: 50px;
	height: 50px;
	opacity: 0;
	transition: all 300ms ease
}
.next_prev a:hover img {
	opacity: 1
}
.next_prev .previous span {
	float: left;
	margin: 0 20px;
	width: 109px;
	line-height: 18px
}
.next_prev .next img {
	float: left
}
.next_prev .next span {
	float: right;
	margin: 0 20px;
	width: 109px;
	line-height: 18px
}
.next_prev .next a {
	right: -200px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px
}
.next_prev .next:hover a {
	right: 0
}
.next_prev .previous a i {
	position: absolute;
	right: 10px;
	top: 45%;
	transition: all 300ms ease
}
.next_prev .previous a:hover i {
	left: 10px;
	right: auto
}
.next_prev .next a i {
	position: absolute;
	left: 10px;
	top: 45%;
	transition: all 300ms ease
}
.next_prev .next a:hover i {
	right: 10px;
	left: auto
}

/* Comments */
.avatar-25 {
	border-radius: 2px;
	float: left;
	margin: 0 8px 0 0
}
.commentlist { margin-bottom: 20px }
.commentlist li { padding-left: 30px; font-size: 14px; line-height: 22px; font-weight: 400; list-style: none; }
.commentlist .comment-body { clear: both; position: relative; padding-bottom: 20px; border-bottom: 1px solid #1A1A1A;margin-bottom: 20px;}
.commentlist .comment-author,
.commentlist .comment-meta,
.commentlist .comment-awaiting-moderation { font-size: 13px; display: inline-block; float: left; line-height: 22px; }
.commentlist .comment-author { margin-right: 6px; }
.commentlist .fn { color: #fff; font-size: 13px; font-style: normal; font-weight: 600; }
.commentlist .says { display: none; }
.commentlist .avatar { position: absolute; left: -50px; top: 0; border-radius: 4px }
.commentlist .comment-meta:before { color: #ccc; content: "\f017"; font-family: FontAwesome; font-size: 12px; margin-right: 3px; vertical-align: 4%; } 
.commentlist .reply { font-size: 11px }
.comment-awaiting-moderation { color: #e8554e; font-style: normal; }
.comment-metadata { display: inline-block; opacity: .5; }

/* comments text */
.commentlist .comment-body p { margin-bottom: 8px; clear: both; }
.commentlist .comment-body strong { font-weight: bold; }
.commentlist .comment-body em { font-style: italic; }
.commentlist .comment-body ol li { list-style: decimal; margin-left: 2em; padding: 0; }
.commentlist .comment-body ul li { list-style: square; margin-left: 2em; padding: 0; }

/* Comments post author & admin */
.commentlist li.bypostauthor > .comment-body:after,
.commentlist li.comment-author-admin > .comment-body:after { background: #FF0078; display: block; position: absolute; content: "\f040"; color: #fff; line-height: 12px; width: 12px; font-style: normal; font-family: FontAwesome; text-align: center; }
.commentlist li.comment-author-admin > .comment-body:after { content: "\f005"; /* star for admin */ }
.commentlist li.bypostauthor > .comment-body:after,
.commentlist li.comment-author-admin > .comment-body:after { top: 22px;left: -27px; font-size: 12px; padding: 3px; border-radius: 100%; }

/* Comments child */
.commentlist li li { padding-left: 54px; margin: 0; }
.commentlist li li .avatar { left: -54px; top: 0; }
.commentlist li li .comment-meta { left: 70px; }

/* Comments nav */
.comments-nav { margin-bottom: 20px; }
.comments-nav a { font-weight: 600; }
.comments-nav .nav-previous { float: left; }
.comments-nav .nav-next { float: right;  }

/* Comments form */
.logged-in-as,
.comment-notes, 
.form-allowed-tags { display: none }
#respond { position: relative }
#reply-title { margin-bottom: 20px }
#cancel-comment-reply-link { color: #BEBEBE;display: block;position: absolute;top: 0;right: 0;border: 1px solid #313131;padding: 1px 14px;font-size: 10px;font-weight: 100;text-transform: none;font-family: tahoma;}
#cancel-comment-reply-link:hover { color: #fff }
#commentform p { margin-bottom: 10px }
#commentform p.comment-form-author { width: 48%; float: left }
#commentform p.comment-form-email { width: 48%; float: right }
#commentform p.comment-form-url,
#commentform p.comment-form-comment { clear: both }
#commentform label { padding: 6px 0; font-weight: 600; display: block }
#commentform input[type="text"], 
#commentform textarea { max-width: 100%; width: 100% }
#commentform p.form-submit { margin-top: 10px }
.logged-in #reply-title { margin-bottom: 20px }
.logged-in #commentform p.comment-form-comment { margin-top: 10px }
.logged-in #commentform p.comment-form-comment label { display: none }
.comment .comment-form {
	margin-bottom: 20px;
    padding-bottom: 40px
}

/* Extra */
q,blockquote,.blockquote, pre, code {
	font-size: 14px;
	font-style: italic;
	margin: 0 4px 10px;
	padding: 20px;
	overflow: hidden;
	background: rgba(167, 167, 167, 0.1)
}
.blockquote.left {
	width: 33%;
	float: left
}
div.blockquote.right {
	width: 33%;
	float: right
}
kbd {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    color: #333;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 1.4;
    margin: 0 .1em;
    padding: .1em .6em;
    text-shadow: 0 1px 0 #fff
}
q:before { content: "\201c" }
q:after { content: "\201d" }
q q:before { content: "\2018" }
q q:after { content: "\2019" }

/* Sidebar */
.widget {
	margin: 0 0 20px 0
}
.widget .widget {
	margin: 0
}
.widget-content {
	position: relative
}
select {
	height: 34px !important;
	padding: 0 6px;
	min-width: 192px;
	max-width: 100%
}
.list-custom-taxonomy-widget li, 
.widget_archive li, 
.widget_categories li,
.widget_views li,
.widget_meta li,
.widget_recent_entries li,
.widget_recent_comments li,
.widget_rss li,
.widget_nav_menu li,
.widget_pages li {
	position: relative;
	list-style-type: circle;
	margin: 0 0 0 16px
}
.widget_archive li a, 
.list-custom-taxonomy-widget a, 
.widget_pages li a, 
.widget_meta li a, 
.widget_views li, 
.widget_recent_comments li, 
.widget_recent_entries li a, 
.widget_rss li, 
.widget_nav_menu li a, 
.widget_categories li a {
	display: block;
	border-bottom: 1px solid rgba(167, 167, 167, 0.1);
	line-height: 20px;
	padding: 8px 0;
	transition: all 300ms ease
}
.list-custom-taxonomy-widget li span, 
.widget_archive li span, 
.widget_pages li span, 
.widget_meta li span, 
.widget_nav_menu li span, 
.widget_categories li span {
	transition: all 300ms ease;
	position: absolute;
	top: 4px;
	right: 0;
	font-size: 13px
}
.widget_recent_entries li span {
	position: relative;
	display: block;
	font-size: 12px;
	line-height: 12px;
	padding: 0 0 12px 0
}
.list-custom-taxonomy-widget li.current a, 
.widget_archive li.current a, 
.widget_categories li.current a, 
.widget_nav_menu li.current a, 
.widget_meta li.current a, 
.widget_pages li.current a, 
.widget_archive li:hover a, 
.widget_pages li:hover a, 
.widget_meta li:hover a, 
.widget_nav_menu li:hover a, 
.widget_categories li:hover a {
	border-color: #FF0078
}
.list-custom-taxonomy-widget li li a, 
.widget_categories li li a, 
.widget_nav_menu li li a, 
.widget_meta li li a, 
.widget_pages li li a, 
.widget_archive li:hover li a, 
.widget_pages li:hover li a, 
.widget_meta li:hover li a, 
.widget_nav_menu li:hover li a, 
.widget_categories li:hover li a {
	border-bottom: 1px solid rgba(167, 167, 167, 0.1)
}
.list-custom-taxonomy-widget a:hover, 
.widget_categories li li:hover a, 
.widget_nav_menu li li:hover a, 
.widget_meta li li:hover a, 
.widget_pages li li:hover a, 
.widget_archive li li:hover a, 
.widget_pages li li:hover a, 
.widget_meta li li:hover a, 
.widget_nav_menu li li:hover a, 
.widget_nav_menu li:hover > a, 
.widget_categories li li:hover a,
.widget_recent_comments li:hover, 
.widget_rss li:hover {
	border-color: #FF0078
}
.widget li .sub-menu a {
	padding-left: 20px
}
.widget li .sub-menu .sub-menu a {
	padding-left: 40px
}
.widget li .sub-menu .sub-menu .sub-menu a {
	padding-left: 60px
}
.widget li .sub-menu .sub-menu .sub-menu .sub-menu a {
	padding-left: 80px
}
.widget li .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu a {
	padding-left: 100px
}
.widget #searchwidget, 
#newsletters {
	position: relative;
}
.widget #searchwidget input, 
#newsletters input {
	margin: 0;
	padding: 0 12px;
	line-height: 24px;
	height: 34px;
	border: 1px solid #C5C5C5;
	background: #F7F7F7;
	border-radius: 3px;
	font-size: 11px;
	color: #5A5A5A;
	cursor: text;
	width: 100%;
	box-sizing: border-box;
	transition: all 300ms ease
}
.widget #searchwidget input:focus, 
#newsletters input:focus {
	background: #fff;
	border: 1px solid #C5C5C5;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
}
.widget #searchwidget button, 
#newsletters button {
	position: absolute;
	top: 7px;
	right: 14px;
	background: none;
	border: 0;
	color: #DDD;
	font-size: 11px;
	cursor: pointer;
	transition: all 300ms ease
}
.widget #searchwidget button, 
#newsletters button {
	color: #888
}
.widget #searchwidget button:hover, 
#newsletters button:hover {
	color: #666
}
.tagcloud {
	margin: 0
}
.tagcloud a {
    background: rgba(167, 167, 167, 0.1);
	font-size: 12px !important;
	padding: 2px 10px;
	margin: 0 2px 5px 0;
	display: inline-block;
	border-radius: 2px;
	transition: all 300ms ease
}
.tagcloud a:hover {
	color: #fff;
    background: #FF0078
}
.post_meta span {
	color: #979797
}

/* Tabs */
.tabs-content > div {
	display: none
}
.tabs-content .active {
	display: block
}
.tabs-nav {
	margin: 0;
	text-align: center
}
.tabs-nav a {
	display: block;
	float: left;
	position: relative;
	font-size: 22px;
	opacity: .6;
	margin: 0 0 10px;
	padding: 0
}
.tabs-nav a { width: 33.333% }
.count-1 a { width: 100% }
.count-2 a { width: 50% }
.count-3 a { width: 33.333% }
.count-4 a { width: 25% }
.count-5 a { width: 20% }
.tabs-nav a:hover, .tabs-nav .active {
	color: #fff;
	opacity: 1
}
.wtext a.active, .wtext a:hover {
	border-color: #FF0078
}
.wtext a.active:after {
	border: none
}
.wtext a {
	font-size: 14px;
	margin: 0 0 20px;
	padding: 0 0 10px;
	border-bottom: 2px solid rgba(167, 167, 167, 0.1);
	transition: all 300ms ease
}
.tabs h3 {
	margin: 0 !important
}

.flickr-widget, 
.cd_gallery_in, 
.instagram-pics,
.cd_instagram .in_insta {
	margin: -10px 0 0 -1%
}
.flickr-widget .flickr_badge_image, 
.cd_gallery_in a, 
.instagram-pics li, 
.cd_instagram li {
	width: 32%;
	float: left;
	margin: 10px 0 0 1%
}
.flickr-widget div {
	transition: all 300ms ease
}
.flickr-widget:hover div {
	opacity: 0.2;
	transform: scale(.9);
	filter: grayscale(80%)
}
.flickr-widget div:hover {
	opacity: 1;
	transform: scale(1);
	filter: grayscale(0)
}
.flickr-widget div img {
	border-radius: 2px
}
.flickr-widget .cdEffect i, 
.cd_gallery_in .cdEffect i, 
.instagram-pics .cdEffect i, 
.cd_instagram .cdEffect i {
    transform: scale(0, 0);
    left: 30%;
    top: 35% !important
}
.flickr-widget .cdEffect:hover i, 
.cd_gallery_in .cdEffect:hover i, 
.instagram-pics .cdEffect:hover i, 
.cd_instagram .cdEffect:hover i {
    transform: scale(1, 1)
}
.pin_follow {
	display: table;
	margin: 20px auto 0
}
.item_small {
	width: 100%;
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid rgba(167, 167, 167, 0.1);
	font-size: 12px;
	line-height: 20px
}
.item_small:last-child {
	margin: 0;
	padding: 0;
	border: 0
}
.item_small:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}
.item_small .cdEffect {
	float: left;
	margin: 0 15px 0 0
}
.item_small h3 {
	font-size: 14px;
	margin: 0 0 4px 0
}
.item_small span {
	display: block
}
.dsq-postid {
	display: inline-block !important
}
.item_small i {
	font-size: 11px
}
.item_small span a {
	color: #C2C2C2
}
.item_small span a:hover {
	color: #FF0078
}

/* HTML5 */
address {
	display: block;
	font-style: italic
}
abbr, acronym {
	position: relative;
	border-bottom: 1px dashed #636363
}
abbr:hover::after,
acronym:hover::after {
	position: absolute;
	bottom: 100%;
	left: 100%;
	display: table;
	padding: 2px 14px;
	border-radius: 2px;
	border: 1px solid #1F1F1F;
	background: #141414;
	color: #FFF;
	content: attr(title)
}
big {
	font-size: 30px;
	padding: 0 10px;
	font-weight: bold
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}
sup { top: -0.5em }
sub { bottom: -0.25em }
dt {
	font-weight: 700;
	font-size: 16px;
	padding: 10px 0 0
}
dd {
	padding: 10px 0;
	margin: 0 0 0 40px
}
table {
	background: transparent;
	font-size: 14px;
	text-align: center;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
	border-radius: 2px
}
table th, 
table caption {
	padding: 6px 0;
	text-shadow: none
}
table th, 
table td {
	border-top: 1px solid rgba(167, 167, 167, 0.03)
}
table td { 
	padding: 4px 0
}
table td .buy_btn {
	float: none !important
}
table tr {
	background: rgba(167, 167, 167, 0.1);
	transition: all 300ms ease
}
table tr:hover, 
tr.topic-sticky {
	background: rgba(167, 167, 167, 0.2)
}
table tfoot td {
	padding: 4px 0
}

/* Gallery */
.tp-grid {
	width: 100%;
	margin: 40px 0 0 0 !important;
	list-style-type: none;
	position: relative;
	display: block;
	z-index: 1
}
.tp-grid li {
	margin-bottom: 30px;
	position: absolute;
	display: none;
	overflow: hidden;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}
.tp-grid li a {
	border: 7px solid #fff
}
.no-js .tp-grid li {
	position: relative;
	display: inline-block
}
.tp-grid li a {
	display: block;
	outline: none
}
.tp-grid li img {
	display: block;
	border: none
}
.tp-info,
.tp-title {
	position: absolute;
	background: #fff;
	line-height: 20px;
	color: #333;
	bottom: 6%;
	max-width: 75%;
	padding: 10px;
	font-weight: 700;
	left: -100%;
	box-shadow: 
		1px 1px 1px rgba(0,0,0,0.1),
		5px 0 5px -3px rgba(0,0,0,0.4),
		inset 0 0 5px rgba(0,0,0,0.04)
}
.touch .tp-info {
	left: 0
}
.no-touch .tp-info {
	transition: all 300ms ease
}

.no-touch .tp-grid li:hover .tp-info {
	-webkit-transition-delay: 150ms;
	-moz-transition-delay: 150ms;
	-o-transition-delay: 150ms;
	-ms-transition-delay: 150ms;
	transition-delay: 150ms
}
.no-touch .tp-open li:hover .tp-info {
	left: 0
}
.tp-title {
	padding: 10px 35px 10px 20px;
	left: 0
}
.tp-title span:nth-child(2){
	color: #aaa;
	padding: 0 5px;
	background: #F7F7F7;
	right: 0;
	height: 100%;
	line-height: 40px;
	top: 0;
	position: absolute;
	display: block
}
.topbar {
	position: relative
}
#close {
	float: left;
	cursor: pointer;
	display: none
}
.loader {
	left: 50%;
	position: absolute;
	margin-left: -120px
}
.loader i {
	display: inline-block;
	width: 40px;
	height: 40px;
	-webkit-animation: loading 1s linear infinite forwards;
	-moz-animation: loading 1s linear infinite forwards;
	-o-animation: loading 1s linear infinite forwards;
	-ms-animation: loading 1s linear infinite forwards;
	animation: loading 1s linear infinite forwards
}
.cssanimations .loader span, 
.no-cssanimations .loader i {
	display: none
}
.loader i:nth-child(2){
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	-o-animation-delay: 0.1s;
	-ms-animation-delay: 0.1s;
	animation-delay: 0.1s
}
.loader i:nth-child(3){
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	animation-delay: 0.2s
}
.loader i:nth-child(4){
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	-o-animation-delay: 0.3s;
	-ms-animation-delay: 0.3s;
	animation-delay: 0.3s
}
.loader i:nth-child(5){
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
	-ms-animation-delay: 0.4s;
	animation-delay: 0.4s
}
.loader i:nth-child(6){
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	animation-delay: 0.5s
}
@-webkit-keyframes loading{
	0%{
		opacity: 0;
		background-color: rgba(255,255,255,0.9)
	}

	100%{
		opacity: 1;
		-webkit-transform: scale(0.25) rotate(75deg);
		background-color: rgba(155,155,155,0.9)
	}
}
@keyframes loading{
	0%{
		opacity: 0;
		background-color: rgba(255,255,255,0.9)
	}

	100%{
		opacity: 1;
		transform: scale(0.25) rotate(75deg);
		background-color: rgba(155,155,155,0.9)
	}
}
.sliderr {
	max-width: 100%;
	margin: auto;
	padding: 0;
	position: relative;
	overflow: hidden;
	background: #0E0E0E
}

/* Carousel slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}
.slick-list .cdEffect:hover {
    box-shadow: none !important
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
}
.slick-list:focus {
    outline: none
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0)
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: ''
}
.slick-track:after {
    clear: both
}
.slick-loading .slick-track {
    visibility: hidden
}
.slick-slide,
.carousel > .item {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}
[dir='rtl'] .slick-slide {
    float: right
}
.slick-slide img {
    display: block
}
.slick-slide.slick-loading img {
    display: none
}
.slick-slide.dragging img {
    pointer-events: none
}
.slick-initialized .slick-slide {
    display: block
}
.slick-loading .slick-slide {
    visibility: hidden
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}
.slick-arrow.slick-hidden {
    display: none
}
.slick-arrow {
	position: absolute;
	opacity: 1;
	top: -56px;
	right: 0;
	cursor: pointer;
	color: #ccc;
	border: none;
	background: none;
	z-index: 1;
	transition: all 300ms ease
}
.slick-prev {
	right: 20px
}
.slick-disabled {
	opacity: .3
}
.arrows_bottom .slick-arrow {
	top: auto;
	right: 48%;
	bottom: -50px;
}
.arrows_bottom .slick-prev {
	top: auto;
	right: 51%;
	bottom: -50px
}
.arrows_both_inner .slick-arrow {
	background: rgba(17, 17, 17, 0.75);
	padding: 2px 10px;
	border-radius: 4px
}
.arrows_both_inner .slick-arrow {
	top: 49%;
	right: 14px
}
.arrows_both_inner .slick-prev {
	top: 49%;
	right: auto;
	left: 14px
}
.arrows_both_outer .slick-arrow {
	top: 49%;
	right: -24px
}
.arrows_both_outer .slick-prev {
	top: 49%;
	right: auto;
	left: -24px
}
.arrows_hide .slick-arrow, 
.related_grid .slick-arrow {
	display: none !important
}
.related_grid .slick-track {
	width: 100% !important
}
.related_grid .slick-slide {
	margin-bottom: 10px
}
.slick-dotted.slick-slider {
    margin-bottom: 30px
}
.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent
}
.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1
}
.slick-dots li button:before {
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black
}
.slick-track .slick-slide .cdEffect {
	margin: 0 5px
}
.is_center .slick-slide {
	opacity: .4;
	transform: scale(.95, .95);
	transition: all 300ms ease
}
.is_center .slick-center {
	transform: scale(1, 1);
	opacity: 1
}

/* Charts popular */
.charts_item {
	position: relative;
	display: inline-block;
	width: 100%
}
.charts_item article {
	float: left;
	width: 62%
}
.charts_item .fb_iframe_widget {
	float: right
}
.charts_pos {
	float: left;
	width: 60px;
	text-align: center;
	padding: 12px 6px 12px 0
}
.charts_pos b {
	display: block;
	font-size: 36px
}
.charts_pos > i {
	color: #666;
	font-size: 24px;
	margin: 18px 0 0px;
	display: block
}
.charts_pos_new {
	font-size: 14px !important
}
.charts_prev {
	font-size: 11px;
	color: #999
}
.charts_item .fa-chevron-down {
	color : #f54c4c
}
.charts_item .fa-chevron-up {
	color : #3bdc3b
}
.charts_item .item_small .cdEffect {
	width: 100px;
	height: 100px
}

/* HTML */
.dropcap { 
	font-size: 32px;
	margin: 0 16px 8px 0;
	text-transform: uppercase;
	float: left;
	position: relative;
	top: 5px;
	color: white;
	line-height: 54px;
	padding: 0 16px;
	background: #FF0078
}
.dropcap-border { 
	font-size: 32px;
	margin: 0 16px 8px 0;
	border: 1px solid #FF0078;
	text-transform: uppercase;
	float: left;
	position: relative;
	top: 5px;
	line-height: 54px;
	padding: 0 16px
}
.highlighter {
	padding: 2px 6px;
	margin: 0 6px
}
hr.line {
	margin-bottom: 32px
}
hr.dotted {
	border-bottom: 1px dotted #777;
	margin-bottom: 32px;
	background: transparent
}
hr.double {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	margin-bottom: 32px;
	background: transparent
}	

/* iframes */
iframe img {
	width: auto;
	max-width: none
}

/* Popup */
.popup_bg {  
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000;
	z-index: 9998
} 
.popup {  
	display: none;
	position: fixed;
	width: 360px;
	top: 50%;
	left: 50%;
	z-index: 9999;
	background: rgba(167, 167, 167, 0.1);
	margin-left: 0
}
.big_popup {
	width: 500px
}
.popup .def-block  { 
	padding: 30px;
	color: #fff;
	border: 2px solid #1F1F1F;
	max-height: 600px;
	margin: 0;
	overflow: hidden
}
.popup_close {
	position: absolute;
	top: 0;
	right: -34px;
	text-align: center;
	font-size: 22px;
	color: #A7A7A7;
	border-bottom: 0;
	border-left: 0;
	cursor: pointer
}
.popup .wp-social-login-widget {
	margin: 12px 0 0
}

/* Footer */
#footer {
	padding: 0;
	color: #bfbfbf
}
#footer h3.tt {
	font-size: 16px;
	font-weight: normal
}
.footer-last {
	background: rgba(0, 0, 0, 0.4);
	padding: 20px 0;
	position: relative
}
.copyright {
	float: left;
	color: #696969
}
#footer .links i {
	margin-right: 2px
}
#footer .links li a {
	line-height: 24px
}
#footer .p-title {
	color: #fff;
	margin: 0 0 30px 0
}
.foot-menu {
	font-family: "Oswald", Tahoma, Arial;
	float: right;
	padding: 0 10px;
	text-transform: uppercase
}
.foot-menu li {
	float: left;
	position: relative;
	padding: 0 10px
}
.foot-menu li:before, .foot-menu .before {
	content: '/';
	color: #696969;
	font-size: 8px;
	position: absolute;
	left: -1px;
	top: 2px
}
.foot-menu li:first-child:before {
	content: '' !important
}

/* Alphabet list */
.Alphabet {
	width: 100%;
	display: block
}
.Alphabet li {
	display: inline-block;
	margin: 0 0 4px 0
}
.Alphabet li a {
	background: rgba(0, 0, 0, 0.6);
	padding: 4px 11.5px;
	border-radius: 2px;
	transition: all 200ms ease;
	display: inline-block
}
.Alphabet li a:hover, 
.Alphabet li.current a {
	background: #fff;
	color: #000
}

/* Scroll */
.scroll {
	overflow: hidden
}
[class^="scroll-"], 
[class*=" scroll-"] {
	width: 100%
}
[class^="scroll-"] .content, 
[class*=" scroll-"] .content {
	overflow-x: hidden
}
.nicescroll-rails {
	display: block !important
}
.nicescroll-rails-hr {
	display: none !important
}

#toTop {
	float: right;
	text-align: center;
	font-size: 14px;
	padding: 0px 9px 2px;
	margin: -2px 0 0 0;
	background: rgba(167, 167, 167, 0.12);
	cursor: pointer;
	border-radius: 2px;
	transition: all 200ms ease
}
#toTop:hover {
	background: #FF0078;
	color: #fff
}

/* Tooltips */
.tooltip {
	z-index: 99;
	display: none;
	position: absolute;
	color: #212121;
	border: 1px solid #ededed;
	background-color: #fff;
	border-radius: 2px;
	padding: 4px 14px
}

/* Countdown */
.countdown {
	position: relative
}
.countdown li {
	display: inline-block;
	width: 64px;
	padding: 14px 0;
	margin: 0 10px 0 0;
	border-radius: 2px;
	border: 1px solid #1D1D1D;
	text-align: center;
	font-family: "Oswald", Tahoma, Arial;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase
}
.countdown li:last-child {
	margin: 0
}
.grid_3 .countdown li {
	width: 86px
}
.countdown li span {
	font-size: 24px;
	color: #FF0078;
	position: relative
}
.widget .countdown {
	width: 100%
}
.widget .countdown li {
	display: inline-block;
	width: 22.5%;
	padding: 14px 0;
	margin: 0 1% 0 0
}
.ended li {
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-ms-filter: blur(2px);
	-o-filter: blur(2px);
	filter: blur(2px)
}
.ended .expired {
	position: absolute;
	left: 0;
	top: 0;
	padding: 30px 0 0 !important;
	text-align: center;
	width: 100% !important;
	border: 0;
	font-size: 18px;
	-webkit-filter: blur(0);
	-moz-filter: blur(0);
	-ms-filter: blur(0);
	-o-filter: blur(0);
	filter: blur(0)
}
.vc_timer_m li {
	padding: 20px 0;
	width: 80px
}
.vc_timer_m span {
	font-size: 30px !important
}
.vc_timer_m p {
	font-size: 12px !important
}
.vc_timer_l li {
	padding: 30px 0;
	width: 100px
}
.vc_timer_l span {
	font-size: 36px !important
}
.vc_timer_l p {
	font-size: 14px !important
}
.vc_timer_xl li {
	padding: 40px 0;
	width: 120px
}
.vc_timer_xl span {
	font-size: 40px !important
}
.vc_timer_xl p {
	font-size: 14px !important
}
.vc_timer_xxl li {
	padding: 50px 0;
	width: 140px
}
.vc_timer_xxl span {
	font-size: 45px !important
}
.vc_timer_xxl p {
	font-size: 16px !important
}

/* IE */
.ie9 .little-head .search input {
	padding: 0 12px 0
}
.ie9 .little-head .search button, 
.ie10 .little-head .search button {
	top: 0
}

/* Mobile */
header .mobile_nav {
	display: none;
	z-index: 100;
	position: absolute;
	background: #1F1F1F;
	padding: 6px 26px;
	top: 46px
}
.openUl {
	margin: 0 0 0 10px
}
header .mobile_nav ul {
	float: none;
	width: 100%;
	margin: 0;
	display: block
}
header .mobile_nav ul ul {
	display: none
}
header .mobile_nav li {
	margin: 10px 0;
	float: none;
	display: block
}
header .mobile_nav li a {
	color: #fff
}
header .mobile_nav li ul {
    border-left: 1px solid #292929
}
header .mobile_nav li li {
	margin: 7px 0 7px 10px
}
header .mobile_nav .sub {
	font-size: 11px;
	color: #7D7D7D;
	margin: 0 0 0 8px
}
header .mobile {
	display: none;
	color: #a7a7a7;
	position: absolute;
	left: 12px;
	top: 4px;
	z-index: 2
}
header .mobile i {
	font-size: 24px;
	padding: 8px 0;
	display: block
}

/* WP Core */
.alignnone {
    margin: 5px 20px 20px 0
}
.aligncenter,
div.aligncenter {
    display: table;
	margin: 0 auto 20px
}
.alignright {
    float: right;
    margin: 5px 0 20px 20px
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px
}
a img.alignnone {
    margin: 5px 20px 20px 0
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
	position: relative;
	margin: 0 0 20px;
	width: auto !important
}
.wp-caption.alignnone {
    margin: 5px 20px 10px 0
}
.wp-caption.alignleft {
    margin: 5px 20px 10px 0
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto
}
.wp-caption p.wp-caption-text {
	padding: 4px 10px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	background: rgba(17, 17, 17, 0.2)
}
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000
}
.gallery-caption {}
.wp-smiley {
	display: inline-block
}
.author_avatar {
	float: left;
	margin: 0 15px 0 0;
	border-radius: 100%;
	overflow: hidden
}

/* Fixes */
.flexslider {
	margin: 0 !important;
	border-radius: 0 !important;
}
.tt a.rsswidget:first-child {
	position: absolute;
	right: 30px;
	top: 40px
}
.widget_search form {
	position: relative;
}
.widget_search .search-submit {
	cursor: pointer;
	position: absolute;
	right: 2px;
	top: 2px;
	background: rgb(35, 35, 35);
	color: #fff;
	border: 0;
	padding: 0 12px;
	border-radius: 4px;
	font-size: 12px
}

/* CF 7 */
.wpcf7-form p {
	margin-bottom: 10px
}
.wpcf7-form .wpcf7-textarea {
	height: 150px;
	width: 100% !important
}
.wpcf7-text {
	width: 60% !important
}
.widget .wpcf7-text {
	width: 100% !important
}
.wpcf7-submit {
	float: left
}
.wpcf7-not-valid-tip {
	position: absolute;
	display: table  !important;
	bottom: -6px !important
}
div.wpcf7 img.ajax-loader {
	margin: 16px 0 0 12px;
	display: inline-block
}

/* Images hover */
.cdEffect {
	position: relative;
	display: block;
	margin: 0;
	overflow: hidden;
	text-align: center;
	background: #111;
	border-radius: 2px;
	transition: all 300ms cubic-bezier(0.175, 0.885, 0.320, 1.275)
}
.cdEffect:hover {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px, 
				rgba(0, 0, 0, 0.2) 0px 4px 4px, 
				rgba(0, 0, 0, 0.2) 0px 8px 8px, 
				rgba(0, 0, 0, 0.2) 0px 16px 16px, 
				rgba(0, 0, 0, 0.2) 0px 32px 32px, 
				rgba(0, 0, 0, 0.2) 0px 64px 64px;
}
.cdEffect.mb {
	margin: 0 0 12px !important
}
.cdEffect img {
	border-radius: 2px;
	transition: all 200ms ease
}
.cdEffect:hover img {
	opacity: .5
}
.cdEffect:before, 
.cdEffect:after {
	position: absolute;
	content: '';
	margin: 10px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 4px;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275)
}
.cdEffect:after {
	border-right: 0;
	border-left: 0;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	-webkit-transform: scale(0,1);
	transform: scale(0,1)
}
.cdEffect:hover:before {
	-webkit-transform: scale(1);
	transform: scalex(1);
	background: #FF0078;
	opacity: .5
}
.cdEffect i {
	font-size: 22px;
	color: #fff;
	position: absolute;
	left: 20px;
	top: 0;
	width: 30px;
	height: 30px;
	opacity: 0;
	margin: auto;
	transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275)
}
.cdEffect:hover i {
	top: 20px;
	opacity: 1
}
.item_small .cdEffect i {
	transform: scale(0, 0);
	left: 30%;
	top: 35%
}
.item_small .cdEffect:hover i {
	transform: scale(1, 1)
}
.item_small .cdEffect:before {
	margin: 4px
}
.cdEffect h3 {
    position: absolute;
    font-size: 16px;
    text-align: left;
    left: 20px;
    bottom: 20px;
    width: 88%;
    margin: 0;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275)
}
.cdEffect:hover h3 {
    font-size: 20px;
    width: 84%;
    white-space: initial
}
.cdEffect small {
	display: block;
	opacity: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	letter-spacing: 2px;
	font-size: 0;
	height: 0;
	font-weight: 100;
	transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275)
}
.cdEffect:hover small {
	height: auto;
	font-size: 10px;
	opacity: 1
}

/* 1page */
.page-template-page-onepage .sf-menu li.back {
	display: none !important
}

/* bbp */
#bbpress-forums li {
	background: none !important
}
#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-header, 
#bbpress-forums li.bbp-footer {
	background: #141414 !important;
	color: #FFF;
	padding: 10px 20px !important
}
.bbp-header a {
	color: #fff
}
.bbp-header #subscription-toggle, .bbp-header #favorite-toggle {
	line-height: 22px
}
.bbp-header #subscription-toggle {
	color: #1D1E20
}
#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a {
	background: #1D1E20 !important;
	color: #FFF;
	opacity: 1
}
#bbpress-forums li.bbp-body ul.forum, 
#bbpress-forums li.bbp-body ul.topic {
	padding: 10px 20px !important
}
.bbp-search-form {
	margin: 0 0 12px !important
}
#bbp_search_submit {
	line-height: 31px;
	vertical-align: middle
}
.bbp-form .submit {
	margin: 0 auto 20px
}
div.bbp-breadcrumb, div.bbp-topic-tags {
	line-height: 36px
}
.bbp-breadcrumb-sep {
	padding: 0 6px
}
#bbpress-forums li.bbp-header ul {
	font-size: 14px
}
.bbp-forum-title,
#bbpress-forums .bbp-topic-title .bbp-topic-permalink {
	font-size: 16px;
	font-weight: 700
}
#bbpress-forums .bbp-topic-started-by {
	display: inline-block
}
#bbpress-forums p.bbp-topic-meta a {
	margin: 0 4px 0 0;
	display: inline-block
}
#bbpress-forums p.bbp-topic-meta img.avatar, 
#bbpress-forums ul.bbp-reply-revision-log img.avatar, 
#bbpress-forums ul.bbp-topic-revision-log img.avatar, 
#bbpress-forums div.bbp-template-notice img.avatar, 
#bbpress-forums .widget_display_topics img.avatar, 
#bbpress-forums .widget_display_replies img.avatar {
	margin-bottom: -2px;
	border: 0
}
span.bbp-admin-links {
	color: #4F4F4F
}
span.bbp-admin-links a {
	color: #7C7C7C
}
.bbp-topic-revision-log-item * {
	display: inline-block
}
#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log, 
#bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log, 
#bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log {
	border-top: 1px dotted #474747;
	padding: 10px 0 0 0;
	color: #888282
}
.bbp-topics, .bbp-replies, .topic {
	position: relative
}
#subscription-toggle,
#favorite-toggle {
	float: right;
	line-height: 34px;
	color: #DFDFDF;
	display: block;
	border: 1px solid #DFDFDF;
	padding: 0 0;
	margin: 0;
	font-size: 12px;
	border: 0 !important
}
.bbp-user-subscriptions #subscription-toggle, 
.bbp-user-favorites #favorite-toggle {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 20px
}
.bbp-reply-author br {
	display: none
}
#bbpress-forums li {
	text-align: left
}
li.bbp-forum-freshness, li.bbp-topic-freshness {
	width: 23%
}
.bbp-topics-front ul.super-sticky, .bbp-topics ul.super-sticky, .bbp-topics ul.sticky, .bbp-forum-content ul.sticky {
	background-color: #2C2C2C !important;
	border-radius: 0 !important;
	font-size: 1.1em;
}
#bbpress-forums div.odd, #bbpress-forums ul.odd {
	background-color: #0D0D0D !important
}
div.bbp-template-notice a {
	display: inline-block;
}
div.bbp-template-notice a:first-child, 
div.bbp-template-notice a:last-child {
	display: inline-block;
}
#bbp_topic_title, #bbp_topic_tags {
	width: 400px
}
#bbp_stick_topic_select, #bbp_topic_status_select, #display_name {
	width: 200px
}
#bbpress-forums #bbp-your-profile fieldset span.description {
	color: #FFF;
	border: #353535 1px solid;
	background-color: #222222 !important;
	margin: 16px 0
}
#bbpress-forums fieldset.bbp-form {
	margin-bottom: 40px
}
.bbp-form .quicktags-toolbar {
	border: 1px solid #EBEBEB
}
.bbp-form .bbp-the-content,
#bbpress-forums #description {
	border-width: 1px !important;
	height: 200px !important
}
#bbpress-forums #bbp-single-user-details {
	width: 100%;
	float: none;
	border-bottom: 1px solid #080808;
	box-shadow: 0 1px 0 rgba(34, 34, 34, 0.8);
	margin: 0 0 20px;
	padding: 0 0 20px
}
#bbpress-forums #bbp-user-wrapper h2.entry-title {
	margin: -2px 0 20px;
	display: inline-block;
	border-bottom: 1px solid #FF0078
}
#bbpress-forums #bbp-single-user-details #bbp-user-navigation a {
	padding: 2px 8px
}
#bbpress-forums #bbp-single-user-details #bbp-user-navigation {
	display: inline-block
}
#bbpress-forums #bbp-user-body, .bbp-user-section p {
	margin: 0
}
.bbp-user-section {
	margin: 0 0 30px
}
#bbpress-forums #bbp-single-user-details #bbp-user-avatar {
	margin: 0 20px 0 0;
	width: auto;
	display: inline-block
}
#bbpress-forums div.bbp-the-content-wrapper input {
	width: auto !important;
}
input#bbp_topic_subscription {
    width: auto;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
}
.widget_display_replies a,
.widget_display_topics a {
	display: inline-block
}
.widget_display_replies li,
.widget_display_forums li,
.widget_display_views li,
.widget_display_topics li {
	display: block;
	border-bottom: 1px solid #282828;
	line-height: 32px;
	position: relative
}
.widget_display_replies li div,
.widget_display_topics li div {
	font-size: 11px
}
.widget_display_stats dt {
	display: block;
	border-bottom: 1px solid #282828;
	line-height: 32px;
	position: relative;
}
.widget_display_stats dd {
	float: right;
	margin: -40px 0 0 0;
	color: #5F5F5F
}
#bbpress-forums div.bbp-topic-content code, 
#bbpress-forums div.bbp-reply-content code, 
#bbpress-forums div.bbp-topic-content pre, 
#bbpress-forums div.bbp-reply-content pre {
	background-color: #FFF;
	padding: 12px 20px;
	max-width: 96%;
	margin-top: 0
}
#bbpress-forums div.bbp-forum-author img.avatar, 
#bbpress-forums div.bbp-topic-author img.avatar, 
#bbpress-forums div.bbp-reply-author img.avatar {
	border-radius: 100%
}
#bbpress-forums li.bbp-header, 
#bbpress-forums li.bbp-footer, 
#bbpress-forums li.bbp-body ul.forum, 
#bbpress-forums li.bbp-body ul.topic, 
div.bbp-forum-header, 
div.bbp-topic-header, 
div.bbp-reply-header {
	border-top: 1px solid #252525 !important
}
#bbpress-forums ul.bbp-lead-topic, 
#bbpress-forums ul.bbp-topics, 
#bbpress-forums ul.bbp-forums, 
#bbpress-forums ul.bbp-replies, 
#bbpress-forums ul.bbp-search-results, 
#bbpress-forums fieldset.bbp-form, 
#subscription-toggle, #favorite-toggle {
	border: 1px solid #252525 !important
}
#bbpress-forums div.bbp-forum-header, 
#bbpress-forums div.bbp-topic-header, 
#bbpress-forums div.bbp-reply-header {
	background-color: #1A1A1A !important
}
#bbpress-forums div.even, #bbpress-forums ul.even {
	background-color: #161616 !important
}
.bbpress #bbp_search {
	display: inline-block;
	width: 75%;
}
.bbp-view-title {
	display: block;
}
div.ppt {
	display: none !important
}
.pp_pic_holder {
	font-size: 14px
}

/* 360 */
.sm_details {
	display: table;
	margin: 0 auto;
	text-align: center
}
.sm_details span {
	color: #969696
}
.sm_icons .buytrack a {
	font-size: 16px;
	margin: 0 10px 10px 0;
	display: inline-block
}
.sm2-playlist-wrapper ul li {
	position: relative
}
.sm2-bar-ui {
	max-width: inherit !important
}
.sm2-playlist-wrapper ul {
	max-height: inherit !important
}
.sm2-extra-controls {
	display: none
}
.bar_icons {
	position: absolute;
	top: 0;
	right: 20px
}
.bar_icons a {
	display: inline-block !important;
	background-color: inherit !important;
	margin-right: 0 !important
}
.sm_icons > a {
	margin: 0 0 10px;
	display: block
}

.gallery_item .img_caption {
	position: absolute;
	bottom: 20px;
	left: 20px;
	z-index: 99;
	color: #FFF;
	background: #1D1E20;
    opacity: 0.8;
    padding: 4px 10px;
    border-radius: 2px
}
.share_post li {
	float: left;
	margin: 0
}
.wpb_wrapper .banner {
	float: none !important;
	margin: 0 0 40px !important
}
.wpb_wrapper .banner img {
	margin: 0 auto !important
}
.commentlist .fn {
	margin: 0
}
.author_desc {
	margin: 0 0 18px
}
.isotope-item .post-thumb {
	float: left;
	margin: 0 20px 20px 0;
}
.isotope-item .post-title {
	margin: 10px 0
}
.wpb_content_element .wpb_tabs_nav li.ui-tabs-active, 
.wpb_content_element .wpb_tabs_nav li:hover, 
.wpb_content_element .wpb_accordion_wrapper 
.wpb_accordion_header, 
.wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab {
	background-color: #1A1A1A !important
}
.wpb_content_element .wpb_tabs_nav li {
	background-color: #272727 !important
}
#reviews .ldc-cmt-box {
	display: none !important
}
.wpb_call_to_action {
	background-color: #161616 !important;
	border: 1px solid #202020 !important
}
.symple-callout .symple-button span.symple-button-inner {
	padding: 0.8em 1em
}
.cart_head {
	position: relative;
	float: right;
	margin: 0 0 0 15px;
	background: #353535;
	background: rgba(167, 167, 167, 0.2);
	border-radius: 15px;
	padding: 0 20px 0 10px;
}
.text_head {
	float: right;
	margin: 0 0 0 20px
}
.shop_icon i {
	padding: 6px 0;
	margin: 0 8px 0;
	display: inline-block;
	font-size: 14px;
	border-radius: 2px;
}
.cart-contents {
	display: inline-block;
}
.cart-contents .grayer {
	color: #666
}
.arrow-up {
  position: absolute;
  top: -5px;
  left: 47%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
}
.view_cart_mini {
	position: absolute;
	top: 38px;
	right: -57%;
	width: 220px;
	background: #fff;
	padding: 10px 20px;
	z-index: 99;
	opacity: 0;
	transition: all 500ms ease
}
.cart_head:hover .view_cart_mini {
	opacity: 1;
}
.tp-caption a {
	color:#ff7302;
	text-shadow:none;
	transition: all 500ms ease
}
.tp-caption a:hover {
	color:#ffa902
}
.wp-social-login-provider-list {
	padding: 0
}
.wp-social-login-provider-list a {
	display: inline-block;
	margin: 0 2px 0 0 !important
}

/* Likes */
.likes_dislikes {
	float: right;
    position: relative
}
.likes_dislikes a {
    padding: 1px 6px;
    margin: 0 0 0 2px;
    display: inline-block;
    transition: all 500ms ease
}
.cd_doing {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.cd_doing span {
    display: block;
    position: absolute;
    top: 7px;
    right: -18px;
    z-index: 999;
    border: 2px solid;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    border-color: #ff0078 rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.1);
    background-color: transparent;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: AjaxSpinnerMono;
    animation-name: AjaxSpinnerMono;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear
}
.likes_dislikes .liked, .likes_dislikes .disliked {
	color: #FF0078
}
.comment-body .likes_dislikes {
	position: absolute;
	top: 0;
	right: 0
}
@-webkit-keyframes heartBlast {
	0% {-webkit-transform: scale(1)}
	20% {-webkit-transform: scale(1.3)}
	40% {-webkit-transform: scale(1.5)}
	55% {-webkit-transform: scale(3)}
	100% {opacity: 0;-webkit-transform: scale(15)}
}
@keyframes heartBlast {
	0% {transform: scale(1)}
	20% {transform: scale(1.3)}
	40% {transform: scale(1.5)}
	55% {transform: scale(3)}
	100% {opacity: 0;transform: scale(15)}
}
.liked i {
	-webkit-animation-name: heartBlast;
	animation-name: heartBlast;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-duration: 1s;
	animation-duration: 1s
}
.pageloader {
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	height: 100%;
	width: 100%;
	display: block
}
.pageloader img {
	position: fixed;
	top: 42%;
	left: 42%
}

.inactive_l a {
    cursor: default;
	opacity: .4
}
.lg-sub-html .buytrack a {
	margin: 10px;
	display: inline-block
}

/* Submission */
.csf-onload {
	margin: 0 !important
}
.csf-onload .csf-title h4 {
	color: #FFFFFF !important
}
.csf-field + .csf-field:not(.hidden) {
	border-color: #1F1F1F !important
}

/* Extra */
.n_m { margin: 0 !important }
.mi { margin-right: 4px !important }
.mid { margin-right: 8px !important }
.mid { margin-right: 16px !important }
.mii { margin-left: 4px !important }
.miid { margin-left: 8px !important }
.miidd { margin-left: 16px !important }

.mt { margin-top: 20px !important }
.mtt { margin-top: 30px !important }
.mtf { margin-top: 40px !important }
.mtff { margin-top: 50px !important }
.mts { margin-top: 70px !important }

.mb { margin-bottom: 20px !important }
.mbt { margin-bottom: 30px !important }
.mbf { margin-bottom: 40px !important }
.mbff { margin-bottom: 50px !important }
.mbs { margin-bottom: 70px !important  }

.fll { float: left; margin: 0 20px 10px 0 }
.flr { float: right; margin: 0 0 10px 20px }
.tac { text-align: center !important }
.tar { text-align: right !important }
.tal { text-align: left !important }
.tacIMG, 
.tacIMG img { margin: 0 auto !important; text-align: center }

.relative {position: relative !important }
.block { display: block }
.righter { float: right !important }
.lefter { float: left !important }
.hidden, .hide { display: none !important }
.tt {
	display: block;
	padding: 10px 0;
	border-bottom: 3px solid #DDD;
}
.fb_light {
	background: #fff
}

/* EDDownloads */
#edd_checkout_form_wrap fieldset#edd_cc_fields {
	border: inherit;
	background: inherit;
}
#edd_checkout_form_wrap fieldset {
    border: inherit;
    padding: inherit;
    margin: inherit;
}
#edd_checkout_cart .edd_cart_header_row th {
	background: inherit;
	padding: auto;
}
#edd_checkout_cart td, #edd_checkout_cart th {
	border: inherit;
	color: inherit;
}
#edd_checkout_cart td {
	background: inherit;
}

/* Fixes */
.ui360 {
	margin: 0 auto
}
.cpt_1 .clr {
	margin: 0 -1%
}
.cpt_1 .mb {
	margin-bottom: 18px !important
}
.cpt_1 .grid_3.alpha {
	width: 23%;
	margin-left: 1%
}
.cpt_1 .grid_3.omega {
	width: 23%;
	margin-right: 1%
}
.cpt_1 .grid_4.alpha {
	width: 31.333%;
	margin-left: 1%
}
.cpt_1 .grid_4.omega {
	width: 31.333%;
	margin-right: 1%
}
.gt_1 .clr {
	margin: 0
}
.gt_1 .grid_3.alpha {
	width: 23%;
	margin-left: 1%
}
.gt_1 .grid_3.omega {
	width: 23%;
	margin-right: 1%
}
.free_width a.fll {
	display: block;
	float: none;
	width: 100%;
}